openapi: 3.0.3

# This is your document metadata.
info:
  version: 4.7.0
  title: PayByBank Specification
  description: |
    ### Fiserv PayByBank solution exposes a set of services to facilitate ACH account vaulting, authorization and settlement. 
    PayByBank follows an enroll first and pay later model. Consumer needs to first enroll himself into the system by providing demographic and ACH payment information. The payment information is tokenized and ACH transactions can be sent in by merchants using the PayByBank token.
    Authorization, Risking, Settlement are all inhouse functionalities to TeleCheck.

    PayByBank solution enforces a full payload encryption. Details of encryption and decryption can be found at [Encryption/Decryption Methodology](https://escmconfluence.1dc.com/pages/viewpage.action?pageId=498239026).

  termsOfService: https://merchants.fiserv.com/en-us/privacy/?utm_source=firstdataus
  contact:
    name: API Support
    email: dl-na-paybybank-it-gbs@fiserv.com
# Servers where this API is hosted
servers:
  - url: https://cat.api.firstdata.com/gateway/v2/connectpay
    description: Certification Environment
  - url: https://prod.api.firstdata.com/gateway/v2/connectpay
    description: Production Environment
tags:
  - name: Security Services
    description: These set of services are used to assist in the encryption of request payload and pulling consumer information. These set of services should always be called from merchants secure server.
  - name: Online Bank Login
    description: These set of services are used to assist online bank login use cases
  - name: Consumer Profile Management
    description: These set of services assist in managing consumer profile information **create** **update** **authenticate** **close**
  - name: Account Services
    description: These set of services assist pulling ACH wallet information for consumer on file to select one of the valted account for PayByBank Transactions
  - name: Transactions
    description: These set of services are for processing ACH Transactions
# This is the endpoint that will show
paths:
  '/security/createsessiontoken':
    # This is similar to a file directory of showing which is a subgroup of which
    #Here Create Sesssion Token is under the Security Services folder/parent group
    #It is also which type of RESTful API call it is which in this case it is a Post
    post:
      x-proxy-name: Create Session
      x-group-name: Security Services
      tags:
        - Security Services
      summary: |
        Generates a time bound public key and session token.
        Should be used by merchants who use PayByBank SDKs.
      # This is the description of the API shown below the endpoint
      description: |
        The Create Session Token API call is used to create a session token and to retrieve the RSA public encryption key generated for this session.
        This API is secured as it requires the Authorization header that can only be derived using the API Secret stored in the Merchant’s server.
      # The parameters are the headers
      parameters:
        - $ref: '#/components/parameters/contentTypeParam'
        - $ref: '#/components/parameters/apiKeyParam'
        - $ref: '#/components/parameters/timestampParam'
        - $ref: '#/components/parameters/authorizationParam'
      #This documentation is the same as the Response example portion which path is referenced in the next comment below
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSessionTokenRequest'
            examples:
              RequestPayloadSample:
                $ref: '#/components/examples/CreateSessionTokenRequestPayloadSample'
              RequestWithAccountInformationPayloadSample:
                $ref: '#/components/examples/CreateSessionTokenRequestWithAccountInformationPayloadSample'
      # This is the part that starts to reference the example response code pages
      # Command find on this page "200-CPAPI_GET_SESSION_TOKEN" to go to the response code examples section
      responses:
        '200':
          $ref: '#/components/responses/200-CreateSessionTokenResponsePayloadSamples'
        '201':
          $ref: '#/components/responses/201-CPAPI_GET_SESSION_TOKEN'
        '202':
          $ref: '#/components/responses/202-CPAPI_GET_SESSION_TOKEN'
        '204':
          $ref: '#/components/responses/204-CPAPI_GET_SESSION_TOKEN'
        '400':
          $ref: '#/components/responses/400-CPAPI_GET_SESSION_TOKEN'
        '401':
          $ref: '#/components/responses/401-CPAPI_GET_SESSION_TOKEN'
        '403':
          $ref: '#/components/responses/403-CPAPI_GET_SESSION_TOKEN'
        '409':
          $ref: '#/components/responses/409-CPAPI_GET_SESSION_TOKEN'
        '500':
          $ref: '#/components/responses/500-CPAPI_GET_SESSION_TOKEN'
  '/security/getpublickey':
    post:
      x-proxy-name: Get Public Key
      x-group-name: Security Services
      tags:
        - Security Services
      summary: |
        Generates long lived reuable public key for full API integration merchant (Not using PayByBank SDKs).
      description: |
        The Get Public Key API call is used to create a long lived reusable RSA public encryption.
        This call should be used instead of Create Session Token if merchant is not using our SDKs and doing a full API integration.
        This API is secured as it requires the Authorization header that can only be derived using the API Secret stored in the Merchant’s server.
      parameters:
        - $ref: '#/components/parameters/contentTypeParam'
        - $ref: '#/components/parameters/apiKeyParam'
        - $ref: '#/components/parameters/timestampParam'
        - $ref: '#/components/parameters/authorizationParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetPublicKeyRequest'
            examples:
              RequestPayloadSample:
                $ref: '#/components/examples/GetPublicKeyPayloadSample'
              RequestWithPublicKeyOverridePayloadSample:
                $ref: '#/components/examples/GetPublicKeyWithOverridePayloadSample'
      responses:
        '200':
          $ref: '#/components/responses/200-GetPublicKeyResponsePayloadSamples'
        '201':
          $ref: '#/components/responses/201-CPAPI_GET_PUBLIC_KEY'
        '202':
          $ref: '#/components/responses/202-CPAPI_GET_PUBLIC_KEY'
        '204':
          $ref: '#/components/responses/204-CPAPI_GET_PUBLIC_KEY'
        '400':
          $ref: '#/components/responses/400-CPAPI_GET_PUBLIC_KEY'
        '401':
          $ref: '#/components/responses/401-CPAPI_GET_PUBLIC_KEY'
        '403':
          $ref: '#/components/responses/403-CPAPI_GET_PUBLIC_KEY'
        '409':
          $ref: '#/components/responses/409-CPAPI_GET_PUBLIC_KEY'
        '500':
          $ref: '#/components/responses/500-CPAPI_GET_PUBLIC_KEY'
  '/security/getdata':
    post:
      x-proxy-name: Get Data
      x-group-name: Security Services
      tags:
        - Security Services
      summary: 'To pull consumer information either by merchant or SDK'
      description: |
        When the PayByBankAPI provides a Nonce back to the Merchant during a use case, the Merchant in turn should be able to get the account details (new fdAccountId) of the consumer by securely using the provided nonce from their server.
        In addition, the Merchant or SDK can retrieve the consumer information any time after the enrollment.
        In either of the api calls, merchant have the option to retrieve the banking information in clear/masked. A merchant specific setting enables a merchant to retrieve the banking information either in clear or in mask as per business.
      parameters:
        - $ref: '#/components/parameters/contentTypeParam'
        - $ref: '#/components/parameters/apiKeyParam'
        - $ref: '#/components/parameters/timestampParam'
        - $ref: '#/components/parameters/authorizationParam'
        - $ref: '#/components/parameters/clientTokenParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetDataRequest'
            examples:
              RequestPayloadSample:
                $ref: '#/components/examples/GetDataPayloadSample'
      responses:
        '200':
          $ref: '#/components/responses/200-GetDataResponsePayloadSamples'
        '201':
          $ref: '#/components/responses/201-CPAPI_GET_DATA'
        '202':
          $ref: '#/components/responses/202-CPAPI_GET_DATA'
        '204':
          $ref: '#/components/responses/204-CPAPI_GET_DATA'
        '400':
          $ref: '#/components/responses/400-CPAPI_GET_DATA'
        '401':
          $ref: '#/components/responses/401-CPAPI_GET_DATA'
        '403':
          $ref: '#/components/responses/403-CPAPI_GET_DATA'
        '409':
          $ref: '#/components/responses/409-CPAPI_GET_DATA'
        '500':
          $ref: '#/components/responses/500-CPAPI_GET_DATA'
  '/onlinebanklogin/establish':
    post:
      x-proxy-name: Establish
      x-group-name: Online Bank Login
      tags:
        - Online Bank Login
      summary: 'First step in the online bank login process.'
      description: |
        Establish a session for online bank login operation.
      parameters:
        - $ref: '#/components/parameters/contentTypeParam'
        - $ref: '#/components/parameters/apiKeyParam'
        - $ref: '#/components/parameters/timestampParam'
        - $ref: '#/components/parameters/authorizationParam'
        - $ref: '#/components/parameters/clientTokenParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EstablishRequest'
            examples:
              RequestPayloadSample:
                $ref: '#/components/examples/EstablishRequestPayloadSample'
      responses:
        '200':
          $ref: '#/components/responses/200-EstablishResponsePayloadSamples'
        '201':
          $ref: '#/components/responses/201-CPAPI_BANK_ESTABLISH'
        '202':
          $ref: '#/components/responses/202-CPAPI_BANK_ESTABLISH'
        '204':
          $ref: '#/components/responses/204-CPAPI_BANK_ESTABLISH'
        '400':
          $ref: '#/components/responses/400-CPAPI_BANK_ESTABLISH'
        '401':
          $ref: '#/components/responses/401-CPAPI_BANK_ESTABLISH'
        '403':
          $ref: '#/components/responses/403-CPAPI_BANK_ESTABLISH'
        '409':
          $ref: '#/components/responses/409-CPAPI_BANK_ESTABLISH'
        '500':
          $ref: '#/components/responses/500-CPAPI_BANK_ESTABLISH'
  '/onlinebanklogin/validate':
    post:
      x-proxy-name: Validate
      x-group-name: Online Bank Login
      tags:
        - Online Bank Login
      summary: 'Third step in the online bank login process'
      description: |
        After user has logged into bank account and selected account to used for enrollment/transaction, this call is used to fetch the consumer and/or banking information on file from the bank.
      parameters:
        - $ref: '#/components/parameters/contentTypeParam'
        - $ref: '#/components/parameters/apiKeyParam'
        - $ref: '#/components/parameters/timestampParam'
        - $ref: '#/components/parameters/authorizationParam'
        - $ref: '#/components/parameters/clientTokenParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidateRequest'
            examples:
              RequestPayloadSample:
                $ref: '#/components/examples/ValidateRequestPayloadSample'
      responses:
        '200':
          $ref: '#/components/responses/200-ValidateResponsePayloadSamples'
        '201':
          $ref: '#/components/responses/201-CPAPI_BANK_VALIDATE'
        '202':
          $ref: '#/components/responses/202-CPAPI_BANK_VALIDATE'
        '204':
          $ref: '#/components/responses/204-CPAPI_BANK_VALIDATE'
        '400':
          $ref: '#/components/responses/400-CPAPI_BANK_VALIDATE'
        '401':
          $ref: '#/components/responses/401-CPAPI_BANK_VALIDATE'
        '403':
          $ref: '#/components/responses/403-CPAPI_BANK_VALIDATE'
        '409':
          $ref: '#/components/responses/409-CPAPI_BANK_VALIDATE'
        '500':
          $ref: '#/components/responses/500-CPAPI_BANK_VALIDATE'
  '/consumerprofile/add':
    post:
      x-proxy-name: Consumer Profile Add
      x-group-name: Consumer Profile Management
      tags:
        - Consumer Profile Management
      summary: 'First step in the consumer enrollment process'
      description: |
        The Create Consumer Profile call is mandatory for any new user enrollment. This is used to create an fdCustomerID for a provided external id (and other user information) by the merchant. The returned fdCustomerID should be used right from the enrollment use case. This API is secured, as it requires the Authorization header that can only be derived using the API Secret stored in the Merchant’s web server.
      parameters:
        - $ref: '#/components/parameters/contentTypeParam'
        - $ref: '#/components/parameters/apiKeyParam'
        - $ref: '#/components/parameters/timestampParam'
        - $ref: '#/components/parameters/authorizationParam'
        - $ref: '#/components/parameters/clientTokenParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProfileAddRequest'
            examples:
              RequestPayloadSample:
                $ref: '#/components/examples/ProfileAddPayloadSample'
      responses:
        '200':
          $ref: '#/components/responses/200-ProfileAddResponsePayloadSamples'
        '201':
          $ref: '#/components/responses/201-CPAPI_CUSTOMER_ADD'
        '202':
          $ref: '#/components/responses/202-CPAPI_CUSTOMER_ADD'
        '204':
          $ref: '#/components/responses/204-CPAPI_CUSTOMER_ADD'
        '400':
          $ref: '#/components/responses/400-CPAPI_CUSTOMER_ADD'
        '401':
          $ref: '#/components/responses/401-CPAPI_CUSTOMER_ADD'
        '403':
          $ref: '#/components/responses/403-CPAPI_CUSTOMER_ADD'
        '409':
          $ref: '#/components/responses/409-CPAPI_CUSTOMER_ADD'
        '500':
          $ref: '#/components/responses/500-CPAPI_CUSTOMER_ADD'
  '/consumerprofile/enrollment':
    post:
      x-proxy-name: Consumer Enrollment
      x-group-name: Consumer Profile Management
      tags:
        - Consumer Profile Management
      summary: 'Second step in the consumer enrollment process'
      description: |
        The Consumer Enrollment call is for any new consumer enrollment purpose. This is used to perform a ConnectPay enrollment process for a provided consumer details payload. This API is secured, as it requires the Authorization header that can only be derived using the API Secret stored in the Merchant’s web server.
      parameters:
        - $ref: '#/components/parameters/contentTypeParam'
        - $ref: '#/components/parameters/apiKeyParam'
        - $ref: '#/components/parameters/timestampParam'
        - $ref: '#/components/parameters/authorizationParam'
        - $ref: '#/components/parameters/clientTokenParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnrollmentRequest'
            examples:
              RequestPayloadSample1:
                $ref: '#/components/examples/EnrollmentPayloadSample'
              RequestPayloadSample2:
                $ref: '#/components/examples/EnrollmentPayloadSample2'
      responses:
        '201':
          $ref: '#/components/responses/201-EnrollmentResponsePayloadSamples'
        '200':
          $ref: '#/components/responses/200-CPAPI_ENROLLMENT'
        '202':
          $ref: '#/components/responses/202-CPAPI_ENROLLMENT'
        '204':
          $ref: '#/components/responses/204-CPAPI_ENROLLMENT'
        '400':
          $ref: '#/components/responses/400-CPAPI_ENROLLMENT'
        '401':
          $ref: '#/components/responses/401-CPAPI_ENROLLMENT'
        '403':
          $ref: '#/components/responses/403-CPAPI_ENROLLMENT'
        '409':
          $ref: '#/components/responses/409-CPAPI_ENROLLMENT'
        '500':
          $ref: '#/components/responses/500-CPAPI_ENROLLMENT'
  '/consumerprofile/load':
    post:
      x-proxy-name: Consumer Load
      x-group-name: Consumer Profile Management
      tags:
        - Consumer Profile Management
      summary: 'Load a consumer profile to use PayByBank SDK which was initially migrated using bulk load'
      description: |
        An existing PayByBank consumer who today uses a physical PayByBank card to transact at merchant location might opt to load this consumer profile on the mobile app and start transacting online. To support this scenario the consumer would be asked to key in the PayByBank Card Number and PIN. If the combination matches with the consumer record on file with PayByBank necessary vaulting would be done to enable SDK usage.
      parameters:
        - $ref: '#/components/parameters/contentTypeParam'
        - $ref: '#/components/parameters/apiKeyParam'
        - $ref: '#/components/parameters/timestampParam'
        - $ref: '#/components/parameters/authorizationParam'
        - $ref: '#/components/parameters/clientTokenParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConsumerLoadRequest'
            examples:
              RequestPayloadSample:
                $ref: '#/components/examples/ConsumerLoadSample'
      responses:
        '200':
          $ref: '#/components/responses/200-ConsumerLoadResponsePayloadSamples'
        '201':
          $ref: '#/components/responses/201-CPAPI_CONSUMER_LOAD'
        '202':
          $ref: '#/components/responses/202-CPAPI_CONSUMER_LOAD'
        '204':
          $ref: '#/components/responses/204-CPAPI_CONSUMER_LOAD'
        '400':
          $ref: '#/components/responses/400-CPAPI_CONSUMER_LOAD'
        '401':
          $ref: '#/components/responses/401-CPAPI_CONSUMER_LOAD'
        '403':
          $ref: '#/components/responses/403-CPAPI_CONSUMER_LOAD'
        '409':
          $ref: '#/components/responses/409-CPAPI_CONSUMER_LOAD'
        '500':
          $ref: '#/components/responses/500-CPAPI_CONSUMER_LOAD'
  '/consumerprofile/validate':
    post:
      x-proxy-name: Consumer Bank Account Authentication
      x-group-name: Consumer Profile Management
      tags:
        - Consumer Profile Management
      summary: 'Micro deposit validation to authenticate your bank account after a manual enrollment'
      description: |
        After manual enrollment process two small micro deposit amounts are disbursed to consumer account. It might take 3-5 business days for the micro deposits to appear on consumers bank account.
        Once micro deposit amounts are visible, consumer needs to complete this process to successfully authenticate ownership of bank account, post which the ACH payment option gets activated for transaction.
      parameters:
        - $ref: '#/components/parameters/contentTypeParam'
        - $ref: '#/components/parameters/apiKeyParam'
        - $ref: '#/components/parameters/timestampParam'
        - $ref: '#/components/parameters/authorizationParam'
        - $ref: '#/components/parameters/clientTokenParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BankAccountAuthenticationRequest'
            examples:
              RequestPayloadSample:
                $ref: '#/components/examples/BankAccountAuthenticationSample'
      responses:
        '200':
          $ref: '#/components/responses/200-BankAccountAuthenticationResponsePayloadSamples'
        '201':
          $ref: '#/components/responses/201-CPAPI_BAA'
        '202':
          $ref: '#/components/responses/202-CPAPI_BAA'
        '204':
          $ref: '#/components/responses/204-CPAPI_BAA'
        '400':
          $ref: '#/components/responses/400-CPAPI_BAA'
        '401':
          $ref: '#/components/responses/401-CPAPI_BAA'
        '403':
          $ref: '#/components/responses/403-CPAPI_BAA'
        '409':
          $ref: '#/components/responses/409-CPAPI_BAA'
        '500':
          $ref: '#/components/responses/500-CPAPI_BAA'
  '/consumerprofile/update':
    post:
      x-proxy-name: Consumer Update
      x-group-name: Consumer Profile Management
      tags:
        - Consumer Profile Management
      summary: 'Update consumer information on file'
      description: |
        Consumer enrollment information like name, address, phone, email, payment information, pin etc. can be updated using this service. Consumer updates except for PIN are not allowed if consumer status is not active.
      parameters:
        - $ref: '#/components/parameters/contentTypeParam'
        - $ref: '#/components/parameters/apiKeyParam'
        - $ref: '#/components/parameters/timestampParam'
        - $ref: '#/components/parameters/authorizationParam'
        - $ref: '#/components/parameters/clientTokenParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConsumerUpdateRequest'
            examples:
              RequestPayloadSample:
                $ref: '#/components/examples/ConsumerUpdateSample'
      responses:
        '200':
          $ref: '#/components/responses/200-ConsumerUpdateResponsePayloadSamples'
        '201':
          $ref: '#/components/responses/201-CPAPI_CONSUMER_UPDATE'
        '202':
          $ref: '#/components/responses/202-CPAPI_CONSUMER_UPDATE'
        '204':
          $ref: '#/components/responses/204-CPAPI_CONSUMER_UPDATE'
        '400':
          $ref: '#/components/responses/400-CPAPI_CONSUMER_UPDATE'
        '401':
          $ref: '#/components/responses/401-CPAPI_CONSUMER_UPDATE'
        '500':
          $ref: '#/components/responses/500-CPAPI_CONSUMER_UPDATE'
  '/consumerprofile/close':
    post:
      x-proxy-name: Consumer Close
      x-group-name: Consumer Profile Management
      tags:
        - Consumer Profile Management
      summary: 'Close a consumer ACH payment account'
      description: |
        This service is invoked to close a consumer’s ACH enrollment. Once an Ach enrollment is closed, it cannot be re-enabled / activated. A fresh Ach enrollment request needs to be resubmitted.
      parameters:
        - $ref: '#/components/parameters/contentTypeParam'
        - $ref: '#/components/parameters/apiKeyParam'
        - $ref: '#/components/parameters/timestampParam'
        - $ref: '#/components/parameters/authorizationParam'
        - $ref: '#/components/parameters/clientTokenParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConsumerCloseRequest'
            examples:
              RequestPayloadSample:
                $ref: '#/components/examples/ConsumerCloseSample'
      responses:
        '200':
          $ref: '#/components/responses/200-ConsumerCloseResponsePayloadSamples'
        '201':
          $ref: '#/components/responses/201-CPAPI_CONSUMER_CLOSE'
        '202':
          $ref: '#/components/responses/202-CPAPI_CONSUMER_CLOSE'
        '204':
          $ref: '#/components/responses/204-CPAPI_CONSUMER_CLOSE'
        '400':
          $ref: '#/components/responses/400-CPAPI_CONSUMER_CLOSE'
        '401':
          $ref: '#/components/responses/401-CPAPI_CONSUMER_CLOSE'
        '403':
          $ref: '#/components/responses/403-CPAPI_CONSUMER_CLOSE'
        '409':
          $ref: '#/components/responses/409-CPAPI_CONSUMER_CLOSE'
        '500':
          $ref: '#/components/responses/500-CPAPI_CONSUMER_CLOSE'
  '/account/getaccountlist':
    post:
      x-proxy-name: Get Account List
      x-group-name: Account Services
      tags:
        - Account Services
      summary: 'The Get Consumer Account List API call is used to retrieve all accounts associated with a consumer fdCustomerId.'
      description: |
        This call can be beneficial in a scenario where you want to present the different payment options that are available and allow consumer to select any one of them for their transaction.
      parameters:
        - $ref: '#/components/parameters/contentTypeParam'
        - $ref: '#/components/parameters/apiKeyParam'
        - $ref: '#/components/parameters/timestampParam'
        - $ref: '#/components/parameters/authorizationParam'
        - $ref: '#/components/parameters/clientTokenParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetAccountListRequest'
            examples:
              RequestPayloadSample:
                $ref: '#/components/examples/GetAccountListPayloadSample'
      responses:
        '200':
          $ref: '#/components/responses/200-GetAccountListResponsePayloadSamples'
        '201':
          $ref: '#/components/responses/201-CPAPI_GET_ACCOUNT_LIST'
        '202':
          $ref: '#/components/responses/202-CPAPI_GET_ACCOUNT_LIST'
        '204':
          $ref: '#/components/responses/204-CPAPI_GET_ACCOUNT_LIST'
        '400':
          $ref: '#/components/responses/400-CPAPI_GET_ACCOUNT_LIST'
        '401':
          $ref: '#/components/responses/401-CPAPI_GET_ACCOUNT_LIST'
        '403':
          $ref: '#/components/responses/403-CPAPI_GET_ACCOUNT_LIST'
        '409':
          $ref: '#/components/responses/409-CPAPI_GET_ACCOUNT_LIST'
        '500':
          $ref: '#/components/responses/500-CPAPI_GET_ACCOUNT_LIST'
  '/account/getaccountdetails':
    post:
      x-proxy-name: Get Account Details
      x-group-name: Account Services
      tags:
        - Account Services
      summary: 'The Get Consumer Account Details API call is used to retrieve details of a particular ACH account from the fdAccountID provided.'
      description: |
        This service fetches the details of a particular ACH account from the fdAccountID provided.
      parameters:
        - $ref: '#/components/parameters/contentTypeParam'
        - $ref: '#/components/parameters/apiKeyParam'
        - $ref: '#/components/parameters/timestampParam'
        - $ref: '#/components/parameters/authorizationParam'
        - $ref: '#/components/parameters/clientTokenParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetAccountDetailsRequest'
            examples:
              RequestPayloadSample:
                $ref: '#/components/examples/GetAccountDetailsPayloadSample'
      responses:
        '200':
          $ref: '#/components/responses/200-GetAccountDetailsResponsePayloadSamples'
        '201':
          $ref: '#/components/responses/201-CPAPI_GET_ACCOUNT_DETAILS'
        '202':
          $ref: '#/components/responses/202-CPAPI_GET_ACCOUNT_DETAILS'
        '204':
          $ref: '#/components/responses/204-CPAPI_GET_ACCOUNT_DETAILS'
        '400':
          $ref: '#/components/responses/400-CPAPI_GET_ACCOUNT_DETAILS'
        '401':
          $ref: '#/components/responses/401-CPAPI_GET_ACCOUNT_DETAILS'
        '403':
          $ref: '#/components/responses/403-CPAPI_GET_ACCOUNT_DETAILS'
        '409':
          $ref: '#/components/responses/409-CPAPI_GET_ACCOUNT_DETAILS'
        '500':
          $ref: '#/components/responses/500-CPAPI_GET_ACCOUNT_DETAILS'
  '/transaction/purchase':
    post:
      x-proxy-name: Purchase
      x-group-name: Transactions
      tags:
        - Transactions
      summary: |
        Use this to initiate purchase/sale transaction request.
      description: |
        Merchants who want to process ACH Transactions through FirstAPI must make server-to-server calls and pass necessary encrypted payload as required for that particular case.
        Use this to initiate purchase/sale transaction request where final amount is known.
      parameters:
        - $ref: '#/components/parameters/contentTypeParam'
        - $ref: '#/components/parameters/apiKeyParam'
        - $ref: '#/components/parameters/timestampParam'
        - $ref: '#/components/parameters/authorizationParam'
        - $ref: '#/components/parameters/clientTokenParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ACHPurchaseRequest'
            examples:
              EnrolledRequestPayloadSample:
                $ref: '#/components/examples/ACHPurchaseRequestPayloadSample'
              NonEnrolledRequestPayloadSample:
                $ref: '#/components/examples/ACHPurchaseRequestPayloadSample2'
      responses:
        '200':
          $ref: '#/components/responses/200-TransactionPurchaseResponsePayloadSamples'
        '460':
          $ref: '#/components/responses/400-TransactionPurchaseResponsePayloadSamples'
        '409':
          $ref: '#/components/responses/409-CPAPI_TRANSACTION'
        '401':
          $ref: '#/components/responses/401-CPAPI_TRANSACTION'
        '300':
          $ref: '#/components/responses/300-CPAPI_TRANSACTION'
        '500':
          $ref: '#/components/responses/500-CPAPI_TRANSACTION'
        '504':
          $ref: '#/components/responses/504-CPAPI_TRANSACTION'      
  '/transaction/authorize':
    post:
      x-proxy-name: Authorize
      x-group-name: Transactions
      tags:
        - Transactions
      summary: |
        Use this to imitate an authorization request.
      description:
        Merchants who want to process ACH Transactions through Fiserv must make server-to-server calls and pass the necessary encrypted payload as required for that particular case.
        Use this to initate an authorization request when the final transaction amount is not known. Unlike Debit, this will not put a hold on consumer’s funds in their account. If request is approved use the Capture request to send final transaction amount.

      parameters:
        - $ref: '#/components/parameters/contentTypeParam'
        - $ref: '#/components/parameters/apiKeyParam'
        - $ref: '#/components/parameters/timestampParam'
        - $ref: '#/components/parameters/authorizationParam'
        - $ref: '#/components/parameters/clientTokenParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ACHAuthorizeRequest'
            examples:
              EnrolledRequestPayloadSample:
                $ref: '#/components/examples/ACHAuthorizeRequestPayloadSample'
      responses:
        '200':
          $ref: '#/components/responses/200-TransactionAuthResponsePayloadSamples'
        '400':
          $ref: '#/components/responses/400-TransactionAuthResponsePayloadSamples'
        '401':
          $ref: '#/components/responses/401-CPAPI_TRANSACTION'
        '409':
          $ref: '#/components/responses/409-CPAPI_TRANSACTION'
        '300':
          $ref: '#/components/responses/300-CPAPI_TRANSACTION'
        '500':
          $ref: '#/components/responses/500-CPAPI_TRANSACTION'
        '504':
          $ref: '#/components/responses/504-CPAPI_TRANSACTION'       
  '/transaction/capture':
    post:
      x-proxy-name: Capture
      x-group-name: Transactions
      tags:
        - Transactions
      summary: |
        Use this to submit the final transaction amount after the Authorize request is approved.
      description: |
        Use subscriberId, transactionId and merchantTransactionId from Authorize call in the Capture request.
        
        The transaction can also be sent in using ConnectPayPaymentNumber instead of fdAccountID.

      parameters:
        - $ref: '#/components/parameters/contentTypeParam'
        - $ref: '#/components/parameters/apiKeyParam'
        - $ref: '#/components/parameters/timestampParam'
        - $ref: '#/components/parameters/authorizationParam'
        - $ref: '#/components/parameters/clientTokenParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ACHCaptureRequest'
            examples:
              EnrolledRequestPayloadSample:
                $ref: '#/components/examples/ACHCaptureRequestPayloadSample'
      responses:
        '200':
          $ref: '#/components/responses/200-TransactionCaptureResponsePayloadSamples'
        '400':
          $ref: '#/components/responses/400-TransactionCaptureResponsePayloadSamples'
        '409':
          $ref: '#/components/responses/409-TransactionCaptureResponsePayloadSamples'
        '401':
          $ref: '#/components/responses/401-CPAPI_TRANSACTION'
        '300':
          $ref: '#/components/responses/300-CPAPI_TRANSACTION'
        '500':
          $ref: '#/components/responses/500-CPAPI_TRANSACTION'
        '504':
          $ref: '#/components/responses/504-CPAPI_TRANSACTION' 
  '/transaction/refund':
    post:
      x-proxy-name: Refund
      x-group-name: Transactions
      tags:
        - Transactions
      summary: |
        Use this to initiate a refund request from a previously approved purchase/authorized transaction.
      description: |
        Use this to initiate a refund request from a previously approved purchase/authorized transaction. Please note that the refund will be processed on the original account used for the transaction. Use subscriberId, transactionId and merchantTransactionId from the Purchase/Capture call in the Refund request. The transaction can also be sent in using connectPayPaymentNumber instead of fdAccountID.
      parameters:
        - $ref: '#/components/parameters/contentTypeParam'
        - $ref: '#/components/parameters/apiKeyParam'
        - $ref: '#/components/parameters/timestampParam'
        - $ref: '#/components/parameters/authorizationParam'
        - $ref: '#/components/parameters/clientTokenParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ACHRefundRequest'
            examples:
              EnrolledRequestPayloadSample:
                $ref: '#/components/examples/ACHRefundRequestPayloadSample'
              NonEnrolledRequestPayloadSample:
                $ref: '#/components/examples/ACHRefundRequestPayloadSample2'
      responses:
        '200':
          $ref: '#/components/responses/200-TransactionRefundResponsePayloadSamples'
        '400':
          $ref: '#/components/responses/400-TransactionRefundResponsePayloadSamples'
        '401':
          $ref: '#/components/responses/401-CPAPI_TRANSACTION'
        '409':
          $ref: '#/components/responses/409-CPAPI_TRANSACTION'
        '300':
          $ref: '#/components/responses/300-CPAPI_TRANSACTION'
        '500':
          $ref: '#/components/responses/500-CPAPI_TRANSACTION'
        '504':
          $ref: '#/components/responses/504-CPAPI_TRANSACTION' 
  '/transaction/void':
    post:
      x-proxy-name: Void
      x-group-name: Transactions
      tags:
        - Transactions
      summary: |
        Use this to initiate a void request from a previously approved purchase/authorized transaction.
      description: |
        Use this to initiate a void request from a previously approved purchase/authorized transaction.  Please note that the void will be processed on the original account used for the transaction. Use SubscriberId, TransactionId and MerchantTransactionId from the Purchase/Capture call in the Void request. The transaction can also be sent in using connectPayPaymentNumber instead of fdAccountID.
      parameters:
        - $ref: '#/components/parameters/contentTypeParam'
        - $ref: '#/components/parameters/apiKeyParam'
        - $ref: '#/components/parameters/timestampParam'
        - $ref: '#/components/parameters/authorizationParam'
        - $ref: '#/components/parameters/clientTokenParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ACHVoidRequest'
            examples:
              EnrolledRequestPayloadSample:
                $ref: '#/components/examples/ACHVoidRequestPayloadSample'
              NonEnrolledRequestPayloadSample:
                $ref: '#/components/examples/ACHVoidRequestPayloadSample2'
      responses:
        '200':
          $ref: '#/components/responses/200-TransactionVoidResponsePayloadSamples'
        '400':
          $ref: '#/components/responses/400-TransactionVoidResponsePayloadSamples'
        '401':
          $ref: '#/components/responses/401-CPAPI_TRANSACTION'
        '409':
          $ref: '#/components/responses/409-CPAPI_TRANSACTION'
        '300':
          $ref: '#/components/responses/300-CPAPI_TRANSACTION'
        '500':
          $ref: '#/components/responses/500-CPAPI_TRANSACTION'
        '504':
          $ref: '#/components/responses/504-CPAPI_TRANSACTION' 
  '/transaction/collectionfee':
    post:
      x-proxy-name: Collection Fee Notification
      x-group-name: Transactions
      tags:
        - Transactions
      summary: |
        Point of sale transaction use cases to display applicable state collection fee and cost to the consumer prior to transacting.
      description: |
        Per Reg E requirements, this service is required for in-person, point of sale transaction use cases to display applicable state collection fee and cost to the consumer prior to transacting.  For other payment uses cases (i.e. online transactions) this service is not needed, rather a link to our collection fee and cost table is displayed in the checkout page.  Please refer to the Legal and Compliance section in the ConnectPay Merchant Guide.
      parameters:
        - $ref: '#/components/parameters/contentTypeParam'
        - $ref: '#/components/parameters/apiKeyParam'
        - $ref: '#/components/parameters/timestampParam'
        - $ref: '#/components/parameters/authorizationParam'
        - $ref: '#/components/parameters/clientTokenParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ACHCollectionFeeRequest'
            examples:
              RequestPayloadSample:
                $ref: '#/components/examples/ACHCollectionFeeRequestPayloadSample'
      responses:
        '200':
          $ref: '#/components/responses/200-TransactionResponsePayloadSamples'
        '401':
          $ref: '#/components/responses/401-AuthenticationErrorPayloadSample'
components:
  parameters:
    username:
      name: Username
      description: The customer's Username, <ProvideUserName>.
      in: header
      required: true
      schema:
        type: string
    partnerID:
      name: PartnerID
      description: Please pass the partnerID, <ProvidePartnerId>.
      in: header
      required: true
      schema:
        type: string
    apiKeyParam:
      name: Api-Key
      description: An API key is a string value passed by a client app or sdk to the PayByBank. The key uniquely identifies the client app or sdk.
      in: header
      required: true
      schema:
        type: string
    timestampParam:
      name: Timestamp
      description: Epoch timestamp in the request initiating system.
      in: header
      required: true
      schema:
        type: string
    authorizationParam:
      name: Authorization
      description: Authorization information for the request. Format- `HMAC {hmacToken}`. If Client-Token HTTP Header is not passed, this header is mandatory.
      in: header
      required: false
      schema:
        type: string
    clientTokenParam:
      name: Client-Token
      description: This is OAuth token generated by PayByBank security services. If Authorization header is not passed, this header is mandatory.
      in: header
      required: false
      schema:
        type: string
    contentTypeParam:
      name: Content-Type
      description: application/JSON is the only supported type.
      in: header
      required: true
      schema:
        type: string
    corelationIDParam:
      name: corelationID
      description: For server to server partner setup, Merchant Application Server needs to pass the same reference transaction id in this header for transaction tracking or related transactions.
      in: header
      required: false
      schema:
        type: string
    isSecureCallParam:
      name: isSecureCall
      description: For server to server partner setup, Merchant Application Server needs to send value Y in this header.
      in: header
      required: false
      schema:
        type: string
  schemas:
    CPAPITransactionDeclineResponseCode3: 
      type: object
      properties:
        transactionStatus:
          type: string
          description: Overall status of the call.
          enum:
            - APPROVED
            - DECLINED
            - ERROR
          maxItems: 1
          minItems: 1
          minLength: 5
          maxLength: 8
        transactionStatusCode:
          type: number
          description: Unique code signifying detailed transaction status.
          maxItems: 1
          minItems: 1
          minLength: 1
          maxLength: 3
        referenceTransactionID:
          type: string
          description: Unique ID for each Transaction which could be used to trace a transaction. *** It is highly recommended that merchants should store the ID on their side. This can be used for researching the transactions in case issue arises ***
          maxItems: 1
          minItems: 1
          minLength: 37
          maxLength: 42
        transactionStatusDescription:
          type: string
          description: Short description of statusCode.
          maxItems: 1
          minItems: 0
          minLength: 1
          maxLength: 100
        responseVerbiage:
          type: string
          description: Detailed description of transactionStatus
          minItems: 0
          maxItems: 1
          minLength: 1
          maxLength: 1000
        errorDetails:
          type: object
          properties:
            errorCode:
              type: string
              description: Code signifying what kind of error occurred.
              minItems: 0
              maxItems: 1
              minLength: 1
              maxLength: 4
            errorReason:
              type: string
              description: Short description of the error.
              minItems: 0
              maxItems: 1
              minLength: 1
              maxLength: 100
        teleCheckDetails:
          type: object
          properties:
            transactionId:
              type: string
              description: Telecheck unique transaction ID. Required to process secondary transactions like capture/void/refund/recurring/splitshipment.
              minItems: 0
              maxItems: 1
              minLength: 1
              maxLength: 22
            tckResponseCode:
              type: string
              description: Refer to sales responses in the Response Code section of the ConnectPay Spec provided by Telecheck.
              minItems: 0
              maxItems: 1
              minLength: 1
              maxLength: 10
            denialRecordNumber:
              type: string
              description: 7-digit denial record number, used only for declined transactions.
              minItems: 0
              maxItems: 1
              minLength: 1
              maxLength: 7
            achTransactionStatus:
              type: string
              description: Numerical value of transaction_status Refer to sales responses in the Response Code section of the ConnectPay Spec provided by TeleCheck. Allowable Values '1', '2', '3', '4', '5'.
              minItems: 0
              maxItems: 1
              minLength: 1
              maxLength: 1
            dateTime:
              type: string
              description: TeleCheck date and time request was received. YYYY-MM-DDTHH:MI:SS.SSSZ.
              minItems: 0
              maxItems: 1
              minLength: 24
              maxLength: 24
    CPAPITransactionCommonErrorCode:
      type: object
      properties:
        transactionStatus:
          type: string
          description: Overall status of the call.
          enum:
            - APPROVED
            - DECLINED
            - ERROR
          maxItems: 1
          minItems: 1
          minLength: 5
          maxLength: 8
        transactionStatusCode:
          type: number
          description: Unique code signifying detailed transaction status.
          maxItems: 1
          minItems: 1
          minLength: 1
          maxLength: 3
        referenceTransactionID:
          type: string
          description: Unique ID for each Transaction which could be used to trace a transaction. *** It is highly recommended that merchants should store the ID on their side. This can be used for researching the transactions in case issue arises ***
          maxItems: 1
          minItems: 1
          minLength: 37
          maxLength: 42
        transactionStatusDescription:
          type: string
          description: Short description of statusCode.
          maxItems: 1
          minItems: 0
          minLength: 1
          maxLength: 100
        responseVerbiage:
          type: string
          description: Detailed description of transactionStatus
          minItems: 0
          maxItems: 1
          minLength: 1
          maxLength: 1000
    CPAPITransactionCommonErrorCode2:
      type: object
      properties:
        transactionStatus:
          type: string
          description: Overall status of the call.
          enum:
            - APPROVED
            - DECLINED
            - ERROR
          maxItems: 1
          minItems: 1
          minLength: 5
          maxLength: 8
        transactionStatusCode:
          type: number
          description: Unique code signifying detailed transaction status.
          maxItems: 1
          minItems: 1
          minLength: 1
          maxLength: 3
        referenceTransactionID:
          type: string
          description: Unique ID for each Transaction which could be used to trace a transaction. *** It is highly recommended that merchants should store the ID on their side. This can be used for researching the transactions in case issue arises ***
          maxItems: 1
          minItems: 1
          minLength: 37
          maxLength: 42
        transactionStatusDescription:
          type: string
          description: Short description of statusCode.
          maxItems: 1
          minItems: 0
          minLength: 1
          maxLength: 100
        responseVerbiage:
          type: string
          description: Detailed description of transactionStatus
          minItems: 0
          maxItems: 1
          minLength: 1
          maxLength: 1000
        errorDetails:
          type: object
          properties:
            errorCode:
              type: string
              description: Code signifying what kind of error occurred.
              minItems: 0
              maxItems: 1
              minLength: 1
              maxLength: 4
            errorReason:
              type: string
              description: Short description of the error.
              minItems: 0
              maxItems: 1
              minLength: 1
              maxLength: 100
    CPAPITransactionDeclineResponseDuplicate: 
      type: object
      properties:
        transactionStatus:
          type: string
          description: Overall status of the call.
          enum:
            - APPROVED
            - DECLINED
            - ERROR
          maxItems: 1
          minItems: 1
          minLength: 5
          maxLength: 8
        transactionStatusCode:
          type: number
          description: Unique code signifying detailed transaction status.
          maxItems: 1
          minItems: 1
          minLength: 1
          maxLength: 3
        referenceTransactionID:
          type: string
          description: Unique ID for each Transaction which could be used to trace a transaction. *** It is highly recommended that merchants should store the ID on their side. This can be used for researching the transactions in case issue arises ***
          maxItems: 1
          minItems: 1
          minLength: 37
          maxLength: 42
        transactionStatusDescription:
          type: string
          description: Short description of statusCode.
          maxItems: 1
          minItems: 0
          minLength: 1
          maxLength: 100
        responseVerbiage:
          type: string
          description: Detailed description of transactionStatus
          minItems: 0
          maxItems: 1
          minLength: 1
          maxLength: 1000
        errorDetails:
          type: object
          properties:
            errorCode:
              type: string
              description: Code signifying what kind of error occurred.
              minItems: 0
              maxItems: 1
              minLength: 1
              maxLength: 4
            errorReason:
              type: string
              description: Short description of the error.
              minItems: 0
              maxItems: 1
              minLength: 1
              maxLength: 100
        teleCheckDetails:
          type: object
          properties:
            transactionId:
              type: string
              description: Telecheck unique transaction ID. Required to process secondary transactions like capture/void/refund/recurring/splitshipment.
              minItems: 0
              maxItems: 1
              minLength: 1
              maxLength: 22
            tckResponseCode:
              type: string
              description: Refer to sales responses in the Response Code section of the ConnectPay Spec provided by Telecheck.
              minItems: 0
              maxItems: 1
              minLength: 1
              maxLength: 10
            approvalCode:
              type: string
              description: Telecheck approval code.
              minItems: 0
              maxItems: 1
              minLength: 1
              maxLength: 10
            achTransactionStatus:
              type: string
              description: Numerical value of transaction_status Refer to sales responses in the Response Code section of the ConnectPay Spec provided by TeleCheck. Allowable Values '1', '2', '3', '4', '5'.
              minItems: 0
              maxItems: 1
              minLength: 1
              maxLength: 1
            dateTime:
              type: string
              description: TeleCheck date and time request was received. YYYY-MM-DDTHH:MI:SS.SSSZ.
              minItems: 0
              maxItems: 1
              minLength: 24
              maxLength: 24
    CPAPITransactionDeclineResponse: 
      type: object
      properties:
        transactionStatus:
          type: string
          description: Overall status of the call.
          enum:
            - APPROVED
            - DECLINED
            - ERROR
          maxItems: 1
          minItems: 1
          minLength: 5
          maxLength: 8
        transactionStatusCode:
          type: number
          description: Unique code signifying detailed transaction status.
          maxItems: 1
          minItems: 1
          minLength: 1
          maxLength: 3
        referenceTransactionID:
          type: string
          description: Unique ID for each Transaction which could be used to trace a transaction. *** It is highly recommended that merchants should store the ID on their side. This can be used for researching the transactions in case issue arises ***
          maxItems: 1
          minItems: 1
          minLength: 37
          maxLength: 42
        transactionStatusDescription:
          type: string
          description: Short description of statusCode.
          maxItems: 1
          minItems: 0
          minLength: 1
          maxLength: 100
        responseVerbiage:
          type: string
          description: Detailed description of transactionStatus
          minItems: 0
          maxItems: 1
          minLength: 1
          maxLength: 1000
        errorDetails:
          type: object
          properties:
            errorCode:
              type: string
              description: Code signifying what kind of error occurred.
              minItems: 0
              maxItems: 1
              minLength: 1
              maxLength: 4
            errorReason:
              type: string
              description: Short description of the error.
              minItems: 0
              maxItems: 1
              minLength: 1
              maxLength: 100
        teleCheckDetails:
          type: object
          properties:
            transactionId:
              type: string
              description: Telecheck unique transaction ID. Required to process secondary transactions like capture/void/refund/recurring/splitshipment.
              minItems: 0
              maxItems: 1
              minLength: 1
              maxLength: 22
            tckResponseCode:
              type: string
              description: Refer to sales responses in the Response Code section of the ConnectPay Spec provided by Telecheck.
              minItems: 0
              maxItems: 1
              minLength: 1
              maxLength: 10
            achTransactionStatus:
              type: string
              description: Numerical value of transaction_status Refer to sales responses in the Response Code section of the ConnectPay Spec provided by TeleCheck. Allowable Values '1', '2', '3', '4', '5'.
              minItems: 0
              maxItems: 1
              minLength: 1
              maxLength: 1
            dateTime:
              type: string
              description: TeleCheck date and time request was received. YYYY-MM-DDTHH:MI:SS.SSSZ.
              minItems: 0
              maxItems: 1
              minLength: 24
              maxLength: 24
    CPAPITransactionApproveResponse: 
      type: object
      properties:
        transactionStatus:
          type: string
          description: Overall status of the call.
          enum:
            - APPROVED
            - DECLINED
            - ERROR
          maxItems: 1
          minItems: 1
          minLength: 5
          maxLength: 8
        transactionStatusCode:
          type: number
          description: Unique code signifying detailed transaction status.
          maxItems: 1
          minItems: 1
          minLength: 1
          maxLength: 3
        referenceTransactionID:
          type: string
          description: Unique ID for each Transaction which could be used to trace a transaction. *** It is highly recommended that merchants should store the ID on their side. This can be used for researching the transactions in case issue arises ***
          maxItems: 1
          minItems: 1
          minLength: 37
          maxLength: 42
        transactionStatusDescription:
          type: string
          description: Short description of statusCode.
          maxItems: 1
          minItems: 0
          minLength: 1
          maxLength: 100
        teleCheckDetails:
          type: object
          properties:
            transactionId:
              type: string
              description: Telecheck unique transaction ID. Required to process secondary transactions like capture/void/refund/recurring/splitshipment.
              minItems: 0
              maxItems: 1
              minLength: 1
              maxLength: 22
            tckResponseCode:
              type: string
              description: Refer to sales responses in the Response Code section of the ConnectPay Spec provided by Telecheck.
              minItems: 0
              maxItems: 1
              minLength: 1
              maxLength: 10
            achTransactionStatus:
              type: string
              description: Numerical value of transaction_status Refer to sales responses in the Response Code section of the ConnectPay Spec provided by TeleCheck. Allowable Values '1', '2', '3', '4', '5'.
              minItems: 0
              maxItems: 1
              minLength: 1
              maxLength: 1
            dateTime:
              type: string
              description: TeleCheck date and time request was received. YYYY-MM-DDTHH:MI:SS.SSSZ.
              minItems: 0
              maxItems: 1
              minLength: 24
              maxLength: 24
    CPAPITransactionApprovalCodeResponse: 
      type: object
      properties:
        transactionStatus:
          type: string
          description: Overall status of the call.
          enum:
            - APPROVED
            - DECLINED
            - ERROR
          maxItems: 1
          minItems: 1
          minLength: 5
          maxLength: 8
        transactionStatusCode:
          type: number
          description: Unique code signifying detailed transaction status.
          maxItems: 1
          minItems: 1
          minLength: 1
          maxLength: 3
        referenceTransactionID:
          type: string
          description: Unique ID for each Transaction which could be used to trace a transaction. *** It is highly recommended that merchants should store the ID on their side. This can be used for researching the transactions in case issue arises ***
          maxItems: 1
          minItems: 1
          minLength: 37
          maxLength: 42
        transactionStatusDescription:
          type: string
          description: Short description of statusCode.
          maxItems: 1
          minItems: 0
          minLength: 1
          maxLength: 100
        teleCheckDetails:
          type: object
          properties:
            transactionId:
              type: string
              description: Telecheck unique transaction ID. Required to process secondary transactions like capture/void/refund/recurring/splitshipment.
              minItems: 0
              maxItems: 1
              minLength: 1
              maxLength: 22
            tckResponseCode:
              type: string
              description: Refer to sales responses in the Response Code section of the ConnectPay Spec provided by Telecheck.
              minItems: 0
              maxItems: 1
              minLength: 1
              maxLength: 10
            approvalCode:
              type: string
              description: Telecheck approval code.
              minItems: 0
              maxItems: 1
              minLength: 1
              maxLength: 10
            achTransactionStatus:
              type: string
              description: Numerical value of transaction_status Refer to sales responses in the Response Code section of the ConnectPay Spec provided by TeleCheck. Allowable Values '1', '2', '3', '4', '5'.
              minItems: 0
              maxItems: 1
              minLength: 1
              maxLength: 1
            dateTime:
              type: string
              description: TeleCheck date and time request was received. YYYY-MM-DDTHH:MI:SS.SSSZ.
              minItems: 0
              maxItems: 1
              minLength: 24
              maxLength: 24
    CPAPIGenericResponse:
      type: object
      properties:
        transactionStatus:
          description: Overall status of the call.
          type: string
          enum:
            - APPROVED
            - DECLINED
            - ERROR
          maxItems: 1
          minItems: 1
          minLength: 5
          maxLength: 8
        transactionStatusCode:
          type: number
          description: Unique code signifying detailed transaction status.
          maxItems: 1
          minItems: 1
          minLength: 1
          maxLength: 3
        referenceTransactionID:
          type: string
          description: Unique ID for each Transaction which could be used to trace a transaction. *** It is highly recommended that merchants should store the ID on their side. This can be used for researching the transactions in case issue arises ***
          maxItems: 1
          minItems: 1
          minLength: 37
          maxLength: 42
        transactionStatusDescription:
          type: string
          description: Short description of statusCode.
          maxItems: 1
          minItems: 0
          minLength: 1
          maxLength: 100
        responseVerbiage:
          type: string
          description: Detailed description of transactionStatus
          minItems: 0
          maxItems: 1
          minLength: 1
          maxLength: 1000
        nonce:
          type: string
          description: This nonce would be sent back to merchant server to fetch any sensitive data that was required to be communicated as a part of this response.
          minItems: 0
          maxItems: 1
          minLength: 1
          maxLength: 50
        errorDetails:
          type: array
          items:
            type: object
            properties:
              errorCode:
                type: string
                description: Code signifying what kind of error occurred.
                minItems: 0
                maxItems: 1
                minLength: 1
                maxLength: 4
              errorField:
                type: string
                description: Signifies which input field that caused the error.
                minItems: 0
                maxItems: 1
                minLength: 1
                maxLength: 30
              errorReason:
                type: string
                description: Short description of the error.
                minItems: 0
                maxItems: 1
                minLength: 1
                maxLength: 100
        account:
          type: array
          items:
            type: object
            properties:
              fdAccountID:
                type: string
                description: Consumers fdCustomerID associated with this request
                minItems: 0
                maxItems: 1
                minLength: 1          
                maxLength: 5           
              accountStatus:
                type: string
                description: Denotes the overall status of the ACH payment device.
                minItems: 0
                maxItems: 1
                minLength: 1
                maxLength: 5
              accountStatusDesc:
                type: string
                description: Short description of the overall status of the ACH payment device.
                minItems: 0
                maxItems: 1
                minLength: 1
                maxLength: 30
              accountValidationDetails:
                type: array
                items:
                  type: object
                  properties:
                    validationCode:
                      type: string
                      description: This item in list of validation details denotes the type of validation pending on the ACH account.
                      minItems: 0
                      maxItems: 1
                      minLength: 1
                      maxLength: 5
                    validationCodeDesc:
                      type: string
                      description: Short description of the validation details type.
                      minItems: 0
                      maxItems: 1
                      minLength: 1
                      maxLength: 10
                    validationCodeStatus:
                      type: string
                      description: Short description of the validation details type.
                      minItems: 0
                      maxItems: 1
                      minLength: 1
                      maxLength: 10
              userDetails:
                type: object
                properties:
                  firstName:
                    type: string
                    description: Customers first name.
                    minItems: 0
                    maxItems: 1
                    minLength: 1
                    maxLength: 25
                  lastName:
                    type: string
                    description: Customers last name.
                    minItems: 0
                    maxItems: 1
                    minLength: 1
                    maxLength: 50
                  email:
                    type: string
                    description: Customers E-Mail address.
                    minItems: 0
                    maxItems: 1
                    minLength: 3
                    maxLength: 75
              userAddressDetails:
                type: object
                properties:
                  street:
                    type: string
                    description: Customers home address line 1.
                    minItems: 0
                    maxItems: 1
                    minLength: 1
                    maxLength: 50
                  street2:
                    type: string
                    description: Customers home address line 2.
                    minItems: 0
                    maxItems: 1
                    minLength: 1
                    maxLength: 50
                  state:
                    type: string
                    description: Customers home address state. Standard state code.
                    minItems: 0
                    maxItems: 1
                    minLength: 2
                    maxLength: 2
                  city:
                    type: string
                    description: Customers home address city.
                    minItems: 0
                    maxItems: 1
                    minLength: 1
                    maxLength: 50
                  postalCode:
                    type: string
                    description: Customers home address postal code (zip code).
                    minItems: 0
                    maxItems: 1
                    minLength: 5
                    maxLength: 5
              userIdentificationDetails:
                type: object
                properties:
                  routingNumber:
                    type: string
                    description: Consumer's Routing transit number.
                    minItems: 0
                    maxItems: 1
                    minLength: 9
                    maxLength: 9
                  accountNumber:
                    type: string
                    description: Consumer's Bank account number.
                    minItems: 0
                    maxItems: 1
                    minLength: 3
                    maxLength: 17
                  onlineBankTransactionId:
                    type: string
                    description: Consumer's Bank account number.
                    minItems: 0
                    maxItems: 1
                    minLength: 1
                    maxLength: 25
                  bankName:
                    type: string
                    description: Bank name of Consumer's bank account number.
                    minItems: 0
                    maxItems: 1
                    minLength: 1
                    maxLength: 50
                  connectPayPaymentNumber:
                    type: string
                    description: ConnectPay payment number uniquely identifies consumer enrollment and is the  payment number used for future transactions. Required as an input when consumer is in possession of and enrolling a physical card (i.e. loyalty card or equivalent) to be used for future payment. Max length 19.
                    minItems: 0
                    maxItems: 1
                    minLength: 11
                    maxLength: 19
                  corporateAccountFlag:
                    type: string
                    description: Marks if account information provided below is personal or corporate. Allowable values are 'personal_check' or 'corporate_check'. If not provided defaults to 'personal_check'.
                    minItems: 0
                    maxItems: 1
                    minLength: 11
                    maxLength: 19
                  userPhone:
                    type: array
                    items:
                      type: object
                      properties:
                        number:
                          type: string
                          description: Customers Phone number.
                          minItems: 0
                          maxItems: 1
                          minLength: 1
                          maxLength: 10
        teleCheckDetails:
          type: object
          properties:
            transactionId:
              type: string
              description: Telecheck unique transaction ID. Required to process secondary transactions like capture/void/refund/recurring/splitshipment.
              minItems: 0
              maxItems: 1
              minLength: 1
              maxLength: 22
            tckResponseCode:
              type: string
              description: Refer to sales responses in the Response Code section of the ConnectPay Spec provided by Telecheck.
              minItems: 0
              maxItems: 1
              minLength: 1
              maxLength: 10
            approvalCode:
              type: string
              description: Telecheck approval code.
              minItems: 0
              maxItems: 1
              minLength: 1
              maxLength: 10
            denialRecordNumber:
              type: string
              description: 7-digit denial record number, used only for declined transactions.
              minItems: 0
              maxItems: 1
              minLength: 1
              maxLength: 7
            displayText:
              type: string
              description: Display text is returned from Telecheck.
              minItems: 0
              maxItems: 1
              minLength: 1
              maxLength: 50
            sequenceId:
              type: string
              description: Sequence id is returned from Telecheck.
              minItems: 0
              maxItems: 1
              minLength: 1
              maxLength: 10
            ecaOfferCode:
              type: string
              description: ECA offered code returned from Telecheck. Allowable values are 'Y' or 'N'.
              minItems: 0
              maxItems: 1
              minLength: 1
              maxLength: 1
            achTransactionStatus:
              type: string
              description: Numerical value of transaction_status Refer to sales responses in the Response Code section of the ConnectPay Spec provided by TeleCheck. Allowable Values '1', '2', '3', '4', '5'.
              minItems: 0
              maxItems: 1
              minLength: 1
              maxLength: 1
            amount:
              type: string
              description: Processed Amount in cents. 1299 = $12.99.
              minItems: 0
              maxItems: 1
              minLength: 1
              maxLength: 10
            currency:
              type: string
              description: USD - Only supports US Dollars.
              minItems: 0
              maxItems: 1
              minLength: 3
              maxLength: 3
            responseMessageMisc:
              type: string
              description: Additional TeleCheck approval/decline messaging tied to response code.
              minItems: 0
              maxItems: 1
              minLength: 1
              maxLength: 50
            dateTime:
              type: string
              description: TeleCheck date and time request was received. YYYY-MM-DDTHH:MI:SS.SSSZ.
              minItems: 0
              maxItems: 1
              minLength: 24
              maxLength: 24
            returnCheckFee:
              type: string
              description: Check fee if the payment has to be collected.
              minItems: 0
              maxItems: 1
              minLength: 1
              maxLength: 6
            returnCheckNote:
              type: string
              minItems: 0
              maxItems: 1
              minLength: 1
              maxLength: 100
            key:
              type: string
              description: Pin key that needs to be rotated every few hours and which is used for pin block encryption in case transactions are pin enabled.
              minItems: 0
              maxItems: 1
              minLength: 1
              maxLength: 50
            accessId:
              type: string
              description: Access id for online bank login service calls. Its global and used for all the calls.
              minItems: 0
              maxItems: 1
              minLength: 1
              maxLength: 50
            merchantId:
              type: string
              description: Online bank login service merchant id.
              minItems: 0
              maxItems: 1
              minLength: 1
              maxLength: 15
            description:
              type: string
              description: Description of online bank login service call.
              minItems: 0
              maxItems: 1
              minLength: 1
              maxLength: 20
            merchantReference:
              type: string
              description: This is a unique identifier we generate that allows us to tie back the establish call to the validate call that comes in later.
              minItems: 0
              maxItems: 1
              minLength: 1
              maxLength: 10
            paymentType:
              type: string
              description: Type of establish call - should always be 'Retrieval'.
              minItems: 0
              maxItems: 1
              minLength: 9
              maxLength: 9
            returnUrl:
              type: string
              description: When using a web interface, after the user completes the online bank login service, this url will be loaded to the browser with all the online bank login service parametersappended to it. For Android, return url should be "msg://return".
              minItems: 0
              maxItems: 1
              minLength: 1
              maxLength: 200
            cancelUrl:
              type: string
              description: When using a web interface, after the user cancels the online bank login service, this url will be loaded to the browser with all the online bank login service parameters appended to it.
              minItems: 0
              maxItems: 1
              minLength: 1
              maxLength: 200
            requestSignature:
              type: string
              description: Hash of all the other parameters in the packet. The hashing rules are defined by the online bank login service. When they receive the establish packet, they calculate the hash and compare with this value to validate that we sent the request.
              minItems: 0
              maxItems: 1
              minLength: 1
              maxLength: 100
            onlineBankTransactionId:
              type: string
              description: Transaction id returned by online bank login service.
              minItems: 0
              maxItems: 1
              minLength: 1
              maxLength: 15
        customer:
          type: object
          properties:
            fdCustomerID:
              type: string
              description: Consumer’s fdCustomerID associated with this request.
              minItems: 0
              maxItems: 1
              minLength: 1
              maxLength: 15
            externalID:
              type: string
              description: This is the user’s unique identifier in the merchant system.
              minItems: 0
              maxItems: 1
              minLength: 1
              maxLength: 15
        security:
          type: object
          properties:
            tokenID:
              type: string
              description: Token ID associated with Public Key generated for SDK initialization.
              minItems: 0
              maxItems: 1
              minLength: 1
              maxLength: 50
            issuedOn:
              type: number
              description: Date on which the Public Key was issued.
              minItems: 0
              maxItems: 1
              minLength: 1
              maxLength: 20
            expiresInSeconds:
              type: number
              description: Defines the number of seconds after which the Public Key expires.
              minItems: 0
              maxItems: 1
              minLength: 1
              maxLength: 10
            publicKey:
              type: string
              description: RSA Public Key to encrypt AES Key and IV.
              minItems: 0
              maxItems: 1
              minLength: 1
              maxLength: 500
            alogorithm:
              type: string
              description: Encryption algorithm that should be used with the Public Key for doing the field level encryption.
              minItems: 0
              maxItems: 1
              minLength: 1
              maxLength: 40
            status:
              type: string
              description: Status of the token ID.
              minItems: 0
              maxItems: 1
              minLength: 1
              maxLength: 10
    CreateSessionTokenRequest:
      type: object
      properties:
        security:
          type: object
          properties:
            publicKeyRequired:
              type: string
              description: "Value should be 'true' if RSA public key is being requested"
              minItems: 1
              maxItems: 1
              minLength: 4
              maxLength: 5
        account:
          description: "Account array object is only required in CreateSessionToken call request body only for microDepositValidation, update, close consumer requests. For other requests account section is optional and not required."
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                description: "Value 'ACH' always needs to be passed in this field."
                minItems: 0
                maxItems: 1
                minLength: 3
                maxLength: 3
              fdAccountID:
                type: string
                description: "fdAccountID for the consumers account is required in CreateSessionToken call request body only for microDepositValidation, update, close consumer requests. For other requests account section is optional and not required."
                minItems: 0
                maxItems: 1
                minLength: 1
                maxLength: 50
    GetPublicKeyRequest:
      type: object
      properties:
        security:
          type: object
          properties:
            publicKeyRequired:
              type: string
              description: "Value should be 'true' if RSA public key is being requested"
              minItems: 1
              maxItems: 1
              minLength: 4
              maxLength: 5
            publicKeyOverridable:
              type: string
              description: "This value should only be 'true' if a new long lived public key needs to be generated before the last one has timed out."
              minItems: 1
              maxItems: 1
              minLength: 4
              maxLength: 5
    GetDataRequest:
      type: object
      properties:
        customer:
          type: object
          properties:
            fdCustomerID:
              type: string
              description: "Consumer’s fdCustomerID generated in response to ProfileAdd request."
              minItems: 1
              maxItems: 1
              minLength: 1
              maxLength: 50
        account:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                description: "Value 'ACH' always needs to be passed in this field."
                minItems: 1
                maxItems: 1
                minLength: 3
                maxLength: 3
              fdAccountID:
                type: string
                description: "Consumer’s fdAccountID generated in response to Consumer Enrollment."
                minItems: 1
                maxItems: 1
                minLength: 1
                maxLength: 50
              fetchAccountDetails:
                type: array
                description: "List types of data needed to be fetch for the consumer."
                minItems: 0
                maxItems: 1
                items:
                  type: object
                  properties:
                    fetch:
                      type: string
                      description: "Group name of the data need to be fetch."
                      minItems: 1
                      maxItems: 1
                      minLength: 1
                      maxLength: 50
                    masked:
                      type: string
                      description: "Set masking is required for that group or not. Allowable values are 'N' or 'Y'."
                      minItems: 1
                      maxItems: 1
                      minLength: 1
                      maxLength: 1
    EstablishRequest:
      type: object
      properties:
        customer:
          type: object
          properties:
            fdCustomerID:
              type: string
              description: "Consumer’s fdCustomerID associated with this request."
              minItems: 0
              maxItems: 1
              minLength: 1
              maxLength: 50
        account:
          type: array
          minItems: 1
          maxItems: 1
          items:
            type: object
            properties:
              type:
                type: string
                description: "Value 'ACH' always needs to be passed in this field."
                minItems: 1
                maxItems: 1
                minLength: 3
                maxLength: 3
              callType:
                type: string
                description: "Defines the type of data pulled from bank. Should be agreed upon value during onboarding of a merchant. Allowable values are 'pwmb.getBankInfo', 'pwmb.getConsumerInfo', 'pwmb.getAll'."
                minItems: 1
                maxItems: 1
                minLength: 11
                maxLength: 20
              returnUrl:
                type: string
                description: "When using a web interface, after the user completes the online bank login service, this url will be loaded to the browser with all the online bank login parameters appended to it."
                minItems: 1
                maxItems: 1
                minLength: 1
                maxLength: 100
    ValidateRequest:
      type: object
      properties:
        customer:
          type: object
          properties:
            fdCustomerID:
              type: string
              minItems: 0
              maxItems: 1
              minLength: 1
              maxLength: 50
        account:
          type: array
          minItems: 1
          maxItems: 1
          items:
            type: object
            properties:
              type:
                type: string
                description: "Value 'ACH' always needs to be passed in this field."
                minItems: 1
                maxItems: 1
                minLength: 3
                maxLength: 3
              userIdentificationDetails:
                type: object
                properties:
                  onlineBankTransactionId:
                    type: string
                    description: "Transaction id returned by online bank login service."
                    minItems: 1
                    maxItems: 1
                    minLength: 1
                    maxLength: 25
              requestSignature:
                type: string
                description: "requestSignature recived from establish call."
                minItems: 1
                maxItems: 1
                minLength: 1
                maxLength: 50
              callType:
                type: string
                description: "Defines the information requested for enrollment purposes. Options are : pwmb.getBankInfo pwmb.getConsumerInfo pwmb.getAll. The primary call type is pwmb.getBankInfo which will return consumers masked routing and account information Using pwmb.getAll will retrieve both consumers bank info along with customer info on file (name, address, email and phone)."
                minItems: 1
                maxItems: 1
                minLength: 1
                maxLength: 100
              oblTransactionType:
                type: string
                description: "Describes the type of transaction that was performed with online bank login service. 1 = Authorize."
                minItems: 1
                maxItems: 1
                minLength: 1
                maxLength: 100
              merchantReference:
                type: string
                description: "This is a unique identifier we generate that allows us to tie back the establishcall to the validate call that comes in later."
                minItems: 1
                maxItems: 1
                minLength: 1
                maxLength: 100
              status:
                type: string
                description: "Result/status of the online bank login service. 2 = Authorized."
                minItems: 1
                maxItems: 1
                minLength: 1
                maxLength: 100
              panel:
                type: string
                description: "UI panel identifier, it should always be 1."
                minItems: 1
                maxItems: 1
                minLength: 1
                maxLength: 100
              paymentType:
                type: string
                description: "Defines the payment type. 6 = Retrieval (i.e. actual payment is done outside of the online bank login service)."
                minItems: 1
                maxItems: 1
                minLength: 1
                maxLength: 100
              paymentProviderType:
                type: string
                description: "Type of payment provider. Should always be 1 easy online debit."
                minItems: 1
                maxItems: 1
                minLength: 1
                maxLength: 100
              paymentAccountVerified:
                type: string
                description: "Boolean that indicates whether the account was successfully verified or not."
                minItems: 1
                maxItems: 1
                minLength: 1
                maxLength: 100
              returnUrl:
                type: string
                description: "When using a web interface, after the user completes the online bank login, this  url will be loaded to the browser with all the online bank login parameters appended to it."
                minItems: 1
                maxItems: 1
                minLength: 1
                maxLength: 100
    ProfileAddRequest:
      type: object
      properties:
        customer:
          type: object
          properties:
            externalID:
              type: string
              description: "This is the user’s unique identifier in the merchant system."
              minItems: 1
              maxItems: 1
              minLength: 1
              maxLength: 50
    EnrollmentRequest:
      type: object
      properties:
        customer:
          type: object
          properties:
            externalID:
              type: string
              description: "Use this field only when the merchant is configured to create profile, enroll and getData (fdAccountID) in a single API call. fdCustomerID is optional when this field is passed in the request."
              minItems: 1
              maxItems: 1
              minLength: 1
              maxLength: 50
            fdCustomerID:
              type: string
              description: "Consumer’s fdCustomerID generated in response to ProfileAdd request."
              minItems: 1
              maxItems: 1
              minLength: 1
              maxLength: 50
        account:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                description: "Value 'ACH' always needs to be passed in this field."
                minItems: 0
                maxItems: 1
                minLength: 3
                maxLength: 3
              dataSource:
                type: string
                description: This field is used for the merchant to denote if consumer bank account data was retrieved via a bank login
                minItems: 1
                maxItems: 1
                minLength: 1
                maxLength: 1
              userDetails: 
                type: object
                properties:
                  firstName:
                    type: string
                    description: "Customers first name"
                    minItems: 1
                    maxItems: 1
                    minLength: 1
                    maxLength: 25
                  lastName:
                    type: string
                    description: "Customers last name"
                    minItems: 1
                    maxItems: 1
                    minLength: 1
                    maxLength: 50
                  email:
                    type: string
                    description: "Customers E-Mail address"
                    minItems: 1
                    maxItems: 1
                    minLength: 3
                    maxLength: 75
                  gender:
                    type: string
                    description: "Consumer's Gender. Allowable values are 'M' or 'F'."
                    minItems: 0
                    maxItems: 1
                    minLength: 1
                    maxLength: 1
                  dob:
                    type: string
                    description: "Consumer's Date of Birth. Format is YYYYMMDD."
                    minItems: 0
                    maxItems: 1
                    minLength: 8
                    maxLength: 8
                  memberSince:
                    type: string
                    description: "Date when consumer enrolled in merchant system. Format is YYYYMMDD."
                    minItems: 0
                    maxItems: 1
                    minLength: 8
                    maxLength: 8
                  agreedTncVersion:
                    type: string
                    description: "Used to tie back to which Terms and Conditions agreed upon in the event we need to retrieve acknowledgments for specific consumers at a later point."
                    minItems: 0
                    maxItems: 1
                    minLength: 1
                    maxLength: 10
                required: 
                  - email 
                  - firstName
                  - lastName
                  - memberSince
              userAddressDetails:
                type: object
                properties:
                  street:
                    type: string
                    description: "Customers home address line 1."
                    minItems: 1
                    maxItems: 1
                    minLength: 1
                    maxLength: 50
                  street2:
                    type: string
                    description: "Customers home address line 2."
                    minItems: 0
                    maxItems: 1
                    minLength: 1
                    maxLength: 50
                  state:
                    type: string
                    description: "Customers home address state. Standard state code."
                    minItems: 1
                    maxItems: 1
                    minLength: 2
                    maxLength: 2
                  city:
                    type: string
                    description: "Customers home address city."
                    minItems: 1
                    maxItems: 1
                    minLength: 1
                    maxLength: 50
                  country:
                    type: string
                    description: "Customers home address country code. Only allowable value is '840'."
                    minItems: 1
                    maxItems: 1
                    minLength: 3
                    maxLength: 3
                  postalCode:
                    type: string
                    description: "Customers home address postal code (zip code)."
                    minItems: 1
                    maxItems: 1
                    minLength: 5
                    maxLength: 5
              userIdentificationDetails:
                type: object
                properties:
                  routingNumber:
                    type: string
                    description: "Consumer's bank Routing transit number."
                    minItems: 1
                    maxItems: 1
                    minLength: 9
                    maxLength: 9
                  accountNumber:
                    type: string
                    description: "Consumer's Bank account number."
                    minItems: 1
                    maxItems: 1
                    minLength: 3
                    maxLength: 17
                  bankAccountActualLastFour:
                    type: string
                    description: "This is the last four digits of the consumer's real bank account number."
                    minItems: 1
                    maxItems: 1
                    minLength: 4
                    maxLength: 4
                  realCurrentBalance:
                    type: string
                    description: "This field represents the runtime harvested current balance of the bank account."
                    minItems: 1
                    maxItems: 1
                    minLength: 0
                    # maxLength: 4
                  realAvailableBalance:
                    type: string
                    description: "This field represents the runtime harvested available balance of the bank account."
                    minItems: 1
                    maxItems: 1
                    minLength: 0
                    # maxLength: 4
                  postedCurrentBalance:
                    type: string
                    description: "This field represents the posted (previous EOD) current balance of the bank account."
                    minItems: 1
                    maxItems: 1
                    minLength: 0
                    # maxLength: 4
                  postedAvailableBalance:
                    type: string
                    description: "This field represents the posted (previous EOD)  available balance of the bank account."
                    minItems: 1
                    maxItems: 1
                    minLength: 0
                    # maxLength: 4
                  supplementalID:
                    type: string
                    description: "This field is used to capture a merchant supplied account identifier."
                    minItems: 1
                    maxItems: 1
                    minLength: 0
                    # maxLength: 4
                  connectPayPaymentNumber:
                    type: string
                    description: "ConnectPay payment number uniquely identifies consumer enrollment and is the payment number used for future transactions. Required as an input when consumer is in possession of and enrolling a physical card (i.e. loyalty card or equivalent) to be used for future payment. Max length 19."
                    minItems: 0
                    maxItems: 1
                    minLength: 11
                    maxLength: 19
                  corporateAccountFlag:
                    type: string
                    description: "Marks if account information provided below is personal or corporate. Allowable values are 'personal_check' or 'corporate_check'. If not provided defaults to 'personal_check'."
                    minItems: 0
                    maxItems: 1
                    minLength: 14
                    maxLength: 15
                  driverLicenseNumber:
                    type: string
                    description: "Consumer's Driver’s License Number."
                    minItems: 0
                    maxItems: 1
                    minLength: 1
                    maxLength: 20
                  driverLicenseState:
                    type: string
                    description: "Consumer's Driver’s License State. Required field id drivers license number is provided."
                    minItems: 0
                    maxItems: 1
                    minLength: 2
                    maxLength: 2
                  ssn:
                    type: string
                    description: "Consumer's Social Security Number."
                    minItems: 0
                    maxItems: 1
                    minLength: 9
                    maxLength: 9
                  onlineBankTransactionId:
                    type: string
                    description: "Transaction id returned by online bank login service."
                    minItems: 0
                    maxItems: 1
                    minLength: 1
                    maxLength: 25
                  pin:
                    type: string
                    description: "Personal identification number. Currently supported length is 4-6 digits."
                    minItems: 0
                    maxItems: 1
                    minLength: 4
                    maxLength: 6
                required: 
                  - accountNumber
                  - bankAccountActualLastFour
                  - routingNumber
              sqnA:
                type: array
                items:
                  type: object
                  properties:
                    securityQuestionId:
                      type: string
                      description: "Question ID (some unique question identifier which uniquely identifies a question for merchant). Could use sequential numbers 1, 2, 3 if consumer has multiple security questions. This field is required if a sqnA item is being provided."
                      minItems: 0
                      maxItems: 1
                      minLength: 1
                      maxLength: 10
                    securityQuestion:
                      type: string
                      description: "Security Question Text. This field is required if a sqnA item is being provided."
                      minItems: 0
                      maxItems: 1
                      minLength: 1
                      maxLength: 100
                    securityAnswer:
                      type: string
                      description: "Security Answer Text. This field is required if a sqnA item is being provided."
                      minItems: 0
                      maxItems: 1
                      minLength: 1
                      maxLength: 100
              userPhone:
                type: array
                items:
                  type: object
                  properties:
                    type:
                      type: string
                      description: "Customer phone type. Allowed Values 'MOBILE', 'HOME', 'BUSINESS', 'OTHERS' At least one phone block is required."
                      minItems: 1
                      maxItems: 1
                      minLength: 4
                      maxLength: 8
                    number:
                      type: string
                      description: "Customers Phone number."
                      minItems: 1
                      maxItems: 1
                      minLength: 10
                      maxLength: 10
                    extension:
[...]
