openapi: 3.0.3

# This is your document metadata.
info:
  version: 4.6.0
  title: PayByBank Specification
  description: |
    ### Fiserv PayByBank solution exposes a set of services to facilitate ACH account vaulting, authorization and settlement. 
    PayByBank follows an enroll first and pay later model. Consumer needs to first enroll himself into the system by providing demographic and ACH payment information. The payment information is tokenized and ACH transactions can be sent in by merchants using the PayByBank token.
    Authorization, Risking, Settlement are all inhouse functionalities to TeleCheck.

    PayByBank solution enforces a full payload encryption. Details of encryption and decryption can be found at [Encryption/Decryption Methodology](https://escmconfluence.1dc.com/pages/viewpage.action?pageId=498239026).

  termsOfService: https://merchants.fiserv.com/en-us/privacy/?utm_source=firstdataus
  contact:
    name: API Support
    email: dl-na-paybybank-it-gbs@fiserv.com
# Servers where this API is hosted
servers:
  - url: https://cat.api.firstdata.com/gateway/v2/connectpay
    description: Certification Environment
  - url: https://prod.api.firstdata.com/gateway/v2/connectpay
    description: Production Environment
tags:
  - name: Security Services
    description: These set of services are used to assist in the encryption of request payload and pulling consumer information. These set of services should always be called from merchants secure server.
  - name: Online Bank Login
    description: These set of services are used to assist online bank login use cases
  - name: Consumer Profile Management
    description: These set of services assist in managing consumer profile information **create** **update** **authenticate** **close**
  - name: Account Services
    description: These set of services assist pulling ACH wallet information for consumer on file to select one of the valted account for PayByBank Transactions
  - name: Transactions
    description: These set of services are for processing ACH Transactions
paths:
  '/security/createsessiontoken':
    post:
      x-proxy-name: Create Session
      x-group-name: Security Services
      tags:
        - Security Services
      summary: |
        Generates a time bound public key and session token.
        Should be used by merchants who use PayByBank SDKs.
      description: |
        The Create Session Token API call is used to create a session token and to retrieve the RSA public encryption key generated for this session.
        This API is secured as it requires the Authorization header that can only be derived using the API Secret stored in the Merchant’s server.
      parameters:
        - $ref: '#/components/parameters/contentTypeParam'
        - $ref: '#/components/parameters/apiKeyParam'
        - $ref: '#/components/parameters/timestampParam'
        - $ref: '#/components/parameters/authorizationParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSessionTokenRequest'
            examples:
              RequestPayloadSample:
                $ref: '#/components/examples/CreateSessionTokenRequestPayloadSample'
              RequestWithAccountInformationPayloadSample:
                $ref: '#/components/examples/CreateSessionTokenRequestWithAccountInformationPayloadSample'
      responses:
        '200':
          $ref: '#/components/responses/200-CreateSessionTokenResponsePayloadSamples'
        '401':
          $ref: '#/components/responses/401-AuthenticationErrorPayloadSample'
  '/security/getpublickey':
    post:
      x-proxy-name: Get Public Key
      x-group-name: Security Services
      tags:
        - Security Services
      summary: |
        Generates long lived reuable public key for full API integration merchant (Not using PayByBank SDKs).
      description: |
        The Get Public Key API call is used to create a long lived reusable RSA public encryption.
        This call should be used instead of Create Session Token if merchant is not using our SDKs and doing a full API integration.
        This API is secured as it requires the Authorization header that can only be derived using the API Secret stored in the Merchant’s server.
      parameters:
        - $ref: '#/components/parameters/contentTypeParam'
        - $ref: '#/components/parameters/apiKeyParam'
        - $ref: '#/components/parameters/timestampParam'
        - $ref: '#/components/parameters/authorizationParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetPublicKeyRequest'
            examples:
              RequestPayloadSample:
                $ref: '#/components/examples/GetPublicKeyPayloadSample'
              RequestWithPublicKeyOverridePayloadSample:
                $ref: '#/components/examples/GetPublicKeyWithOverridePayloadSample'
      responses:
        '200':
          $ref: '#/components/responses/200-GetPublicKeyResponsePayloadSamples'
        '401':
          $ref: '#/components/responses/401-GetPublicKeyResponsePayloadSample'
  '/security/getdata':
    post:
      x-proxy-name: Get Data
      x-group-name: Security Services
      tags:
        - Security Services
      summary: 'To pull consumer information either by merchant or SDK'
      description: |
        When the PayByBankAPI provides a Nonce back to the Merchant during a use case, the Merchant in turn should be able to get the account details (new fdAccountId) of the consumer by securely using the provided nonce from their server.
        In addition, the Merchant or SDK can retrieve the consumer information any time after the enrollment.
        In either of the api calls, merchant have the option to retrieve the banking information in clear/masked. A merchant specific setting enables a merchant to retrieve the banking information either in clear or in mask as per business.
      parameters:
        - $ref: '#/components/parameters/contentTypeParam'
        - $ref: '#/components/parameters/apiKeyParam'
        - $ref: '#/components/parameters/timestampParam'
        - $ref: '#/components/parameters/authorizationParam'
        - $ref: '#/components/parameters/clientTokenParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetDataRequest'
            examples:
              RequestPayloadSample:
                $ref: '#/components/examples/GetDataPayloadSample'
      responses:
        '200':
          $ref: '#/components/responses/200-GetDataResponsePayloadSamples'
        '401':
          $ref: '#/components/responses/401-ComponentFallbackPayloadSample'
  '/onlinebanklogin/establish':
    post:
      x-proxy-name: Establish
      x-group-name: Online Bank Login
      tags:
        - Online Bank Login
      summary: 'First step in the online bank login process.'
      description: |
        Establish a session for online bank login operation.
      parameters:
        - $ref: '#/components/parameters/contentTypeParam'
        - $ref: '#/components/parameters/apiKeyParam'
        - $ref: '#/components/parameters/timestampParam'
        - $ref: '#/components/parameters/authorizationParam'
        - $ref: '#/components/parameters/clientTokenParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EstablishRequest'
            examples:
              RequestPayloadSample:
                $ref: '#/components/examples/EstablishRequestPayloadSample'
      responses:
        '200':
          $ref: '#/components/responses/200-EstablishResponsePayloadSamples'
        '401':
          $ref: '#/components/responses/401-AuthenticationErrorPayloadSample'
  '/onlinebanklogin/validate':
    post:
      x-proxy-name: Validate
      x-group-name: Online Bank Login
      tags:
        - Online Bank Login
      summary: 'Third step in the online bank login process'
      description: |
        After user has logged into bank account and selected account to used for enrollment/transaction, this call is used to fetch the consumer and/or banking information on file from the bank.
      parameters:
        - $ref: '#/components/parameters/contentTypeParam'
        - $ref: '#/components/parameters/apiKeyParam'
        - $ref: '#/components/parameters/timestampParam'
        - $ref: '#/components/parameters/authorizationParam'
        - $ref: '#/components/parameters/clientTokenParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidateRequest'
            examples:
              RequestPayloadSample:
                $ref: '#/components/examples/ValidateRequestPayloadSample'
      responses:
        '200':
          $ref: '#/components/responses/200-ValidateResponsePayloadSamples'
        '401':
          $ref: '#/components/responses/401-ComponentFallbackPayloadSample'
  '/consumerprofile/add':
    post:
      x-proxy-name: Add
      x-group-name: Consumer Profile Management
      tags:
        - Consumer Profile Management
      summary: 'First step in the consumer enrollment process'
      description: |
        The Create Consumer Profile call is mandatory for any new user enrollment. This is used to create an fdCustomerID for a provided external id (and other user information) by the merchant. The returned fdCustomerID should be used right from the enrollment use case. This API is secured, as it requires the Authorization header that can only be derived using the API Secret stored in the Merchant’s web server.
      parameters:
        - $ref: '#/components/parameters/contentTypeParam'
        - $ref: '#/components/parameters/apiKeyParam'
        - $ref: '#/components/parameters/timestampParam'
        - $ref: '#/components/parameters/authorizationParam'
        - $ref: '#/components/parameters/clientTokenParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProfileAddRequest'
            examples:
              RequestPayloadSample:
                $ref: '#/components/examples/ProfileAddPayloadSample'
      responses:
        '200':
          $ref: '#/components/responses/200-ProfileAddResponsePayloadSamples'
        '401':
          $ref: '#/components/responses/401-ComponentFallbackPayloadSample'
  '/consumerprofile/enrollment':
    post:
      x-proxy-name: Enrollment
      x-group-name: Consumer Profile Management
      tags:
        - Consumer Profile Management
      summary: 'Second step in the consumer enrollment process'
      description: |
        The Consumer Enrollment call is for any new consumer enrollment purpose. This is used to perform a ConnectPay enrollment process for a provided consumer details payload. This API is secured, as it requires the Authorization header that can only be derived using the API Secret stored in the Merchant’s web server.
      parameters:
        - $ref: '#/components/parameters/contentTypeParam'
        - $ref: '#/components/parameters/apiKeyParam'
        - $ref: '#/components/parameters/timestampParam'
        - $ref: '#/components/parameters/authorizationParam'
        - $ref: '#/components/parameters/clientTokenParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnrollmentRequest'
            examples:
              RequestPayloadSample:
                $ref: '#/components/examples/EnrollmentPayloadSample'
      responses:
        '200':
          $ref: '#/components/responses/200-EnrollmentResponsePayloadSamples'
        '401':
          $ref: '#/components/responses/401-ComponentFallbackPayloadSample'
  '/account/getaccountlist':
    post:
      x-proxy-name: Get Account List
      x-group-name: Account Services
      tags:
        - Account Services
      summary: 'The Get Consumer Account List API call is used to retrieve all accounts associated with a consumer fdCustomerId.'
      description: |
        This call can be beneficial in a scenario where you want to present the different payment options that are available and allow consumer to select any one of them for their transaction.
      parameters:
        - $ref: '#/components/parameters/contentTypeParam'
        - $ref: '#/components/parameters/apiKeyParam'
        - $ref: '#/components/parameters/timestampParam'
        - $ref: '#/components/parameters/authorizationParam'
        - $ref: '#/components/parameters/clientTokenParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetAccountListRequest'
            examples:
              RequestPayloadSample:
                $ref: '#/components/examples/GetAccountListPayloadSample'
      responses:
        '200':
          $ref: '#/components/responses/200-GetAccountListResponsePayloadSamples'
        '401':
          $ref: '#/components/responses/401-ComponentFallbackPayloadSample'
  '/account/getaccountdetails':
    post:
      x-proxy-name: Get Account Details
      x-group-name: Account Services
      tags:
        - Account Services
      summary: 'The Get Consumer Account Details API call is used to retrieve details of a particular ACH account from the fdAccountID provided.'
      description: |
        This service fetches the details of a particular ACH account from the fdAccountID provided.
      parameters:
        - $ref: '#/components/parameters/contentTypeParam'
        - $ref: '#/components/parameters/apiKeyParam'
        - $ref: '#/components/parameters/timestampParam'
        - $ref: '#/components/parameters/authorizationParam'
        - $ref: '#/components/parameters/clientTokenParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetAccountDetailsRequest'
            examples:
              RequestPayloadSample:
                $ref: '#/components/examples/GetAccountDetailsPayloadSample'
      responses:
        '200':
          $ref: '#/components/responses/200-GetAccountDetailsResponsePayloadSamples'
        '401':
          $ref: '#/components/responses/401-ComponentFallbackPayloadSample'
  '/transaction/purchase':
    post:
      x-proxy-name: Purchase
      x-group-name: Transactions
      tags:
        - Transactions
      summary: |
        Use this to initiate purchase/sale transaction request.
      description: |
        Merchants who want to process ACH Transactions through FirstAPI must make server-to-server calls and pass necessary encrypted payload as required for that particular case.
        Use this to initiate purchase/sale transaction request where final amount is known.
      parameters:
        - $ref: '#/components/parameters/contentTypeParam'
        - $ref: '#/components/parameters/apiKeyParam'
        - $ref: '#/components/parameters/timestampParam'
        - $ref: '#/components/parameters/authorizationParam'
        - $ref: '#/components/parameters/clientTokenParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ACHPurchaseRequest'
            examples:
              RequestPayloadSample:
                $ref: '#/components/examples/ACHPurchaseRequestPayloadSample'
      responses:
        '200':
          $ref: '#/components/responses/200-ACHPurchaseResponsePayloadSamples'
        '401':
          $ref: '#/components/responses/401-AuthenticationErrorPayloadSample'
  '/transaction/authorize':
    post:
      x-proxy-name: Authorize
      x-group-name: Transactions
      tags:
        - Transactions
      summary: |
        Use this to imitate an authorization request.
      description:
        Merchants who want to process ACH Transactions through Fiserv must make server-to-server calls and pass the necessary encrypted payload as required for that particular case.
        Use this to initate an authorization request when the final transaction amount is not known. Unlike Debit, this will not put a hold on consumer’s funds in their account. If request is approved use the Capture request to send final transaction amount.

      parameters:
        - $ref: '#/components/parameters/contentTypeParam'
        - $ref: '#/components/parameters/apiKeyParam'
        - $ref: '#/components/parameters/timestampParam'
        - $ref: '#/components/parameters/authorizationParam'
        - $ref: '#/components/parameters/clientTokenParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ACHAuthorizeRequest'
            examples:
              RequestPayloadSample:
                $ref: '#/components/examples/ACHAuthorizeRequestPayloadSample'
      responses:
        '200':
          $ref: '#/components/responses/200-ACHAuthorizeResponsePayloadSamples'
        '401':
          $ref: '#/components/responses/401-AuthenticationErrorPayloadSample'
components:
  parameters:
    apiKeyParam:
      name: Api-Key
      description: An API key is a string value passed by a client app or sdk to the PayByBank. The key uniquely identifies the client app or sdk.
      in: header
      required: true
      schema:
        type: string
    timestampParam:
      name: Timestamp
      description: Epoch timestamp in the request initiating system.
      in: header
      required: true
      schema:
        type: string
    authorizationParam:
      name: Authorization
      description: Authorization information for the request. Format- `HMAC {hmacToken}`. If Client-Token HTTP Header is not passed, this header is mandatory.
      in: header
      required: false
      schema:
        type: string
    clientTokenParam:
      name: Client-Token
      description: This is OAuth token generated by PayByBank security services. If Authorization header is not passed, this header is mandatory.
      in: header
      required: false
      schema:
        type: string
    contentTypeParam:
      name: Content-Type
      description: application/JSON is the only supported type.
      in: header
      required: true
      schema:
        type: string
    corelationIDParam:
      name: corelationID
      description: For server to server partner setup, Merchant Application Server needs to pass the same reference transaction id in this header for transaction tracking or related transactions.
      in: header
      required: false
      schema:
        type: string
    isSecureCallParam:
      name: isSecureCall
      description: For server to server partner setup, Merchant Application Server needs to send value Y in this header.
      in: header
      required: false
      schema:
        type: string
  schemas:
    CPAPIGenericResponse:
      type: object
      properties:
        transactionStatus:
          description: Overall status of the call.
          type: string
          enum:
            - APPROVED
            - DECLINED
            - ERROR
          maxItems: 1
          minItems: 1
          minLength: 5
          maxLength: 8
          nullable: false
        transactionStatusCode:
          type: number
          description: Unique code signifying detailed transaction status.
          maxItems: 1
          minItems: 1
          minLength: 1
          maxLength: 3
          nullable: false
        referenceTransactionID:
          type: string
          description: Unique ID for each Transaction which could be used to trace a transaction. *** It is highly recommended that merchants should store the ID on their side. This can be used for researching the transactions in case issue arises ***
          maxItems: 1
          minItems: 1
          minLength: 37
          maxLength: 42
          nullable: false
        transactionStatusDescription:
          type: string
          description: Short description of statusCode.
          maxItems: 1
          minItems: 1
          minLength: 1
          maxLength: 30
          nullable: true
        responseVerbiage:
          type: string
        nonce:
          type: string
        errorDetails:
          type: array
          items:
            type: object
            properties:
              errorCode:
                type: string
              errorField:
                type: string
              errorReason:
                type: string
        account:
          type: array
          items:
            type: object
            properties:
              accountStatus:
                type: string
              accountStatusDesc:
                type: string
              accountValidationDetails:
                type: array
                items:
                  type: object
                  properties:
                    validationCode:
                      type: string
                    validationCodeDesc:
                      type: string
                    validationCodeStatus:
                      type: string
              userDetails:
                type: object
                properties:
                  firstName:
                    type: string
                  lastName:
                    type: string
                  email:
                    type: string
              userAddressDetails:
                type: object
                properties:
                  street:
                    type: string
                  street2:
                    type: string
                  state:
                    type: string
                  city:
                    type: string
                  postalCode:
                    type: string
              userIdentificationDetails:
                type: object
                properties:
                  routingNumber:
                    type: string
                  accountNumber:
                    type: string
                  onlineBankTransactionId:
                    type: string
                  bankName:
                    type: string
                  connectPayPaymentNumber:
                    type: string
                  corporateAccountFlag:
                    type: string
                  userPhone:
                    type: array
                    items:
                      type: object
                      properties:
                        number:
                          type: string
        teleCheckDetails:
          type: object
          properties:
            transactionId:
              type: string
            tckResponseCode:
              type: string
            approvalCode:
              type: string
            denialRecordNumber:
              type: string
            displayText:
              type: string
            sequenceId:
              type: string
            ecaOfferCode:
              type: string
            achTransactionStatus:
              type: string
            amount:
              type: string
            currency:
              type: string
            responseMessageMisc:
              type: string
            dateTime:
              type: string
            returnCheckFee:
              type: string
            returnCheckNote:
              type: string
            key:
              type: string
            accessId:
              type: string
            merchantId:
              type: string
            description:
              type: string
            merchantReference:
              type: string
            paymentType:
              type: string
            returnUrl:
              type: string
            cancelUrl:
              type: string
            requestSignature:
              type: string
            onlineBankTransactionId:
              type: string
        customer:
          type: object
          properties:
            fdCustomerID:
              type: string
            externalID:
              type: string
        security:
          type: object
          properties:
            tokenID:
              type: string
              description: Token ID associated Public Key generated for SDK initialization.
              maxItems: 1
              minItems: 0
              minLength: 1
              maxLength: 32
              nullable: true
            issuedOn:
              type: number
              description: Date on which the Public Key was issued.
              maxItems: 1
              minItems: 0
              minLength: 1
              maxLength: 15
              nullable: true
            expiresInSeconds:
              type: number
              description: Defines the number of seconds after which the Public Key expires.
              maxItems: 1
              minItems: 0
              minLength: 1
              maxLength: 9
              nullable: true
            publicKey:
              type: string
              description: RSA Public Key to encrypt AES Key and IV.
              maxItems: 1
              minItems: 0
              minLength: 1
              maxLength: 500
              nullable: true
            alogorithm:
              type: string
              description: Encryption algorithm that should be used with the Public Key for doing the field level encryption.
              maxItems: 1
              minItems: 0
              minLength: 1
              maxLength: 40
              nullable: true
            status:
              type: string
              description: Status of the token ID.
              maxItems: 1
              minItems: 0
              minLength: 1
              maxLength: 32
              nullable: true
    CreateSessionTokenRequest:
      type: object
      properties:
        security:
          type: object
          properties:
            publicKeyRequired:
              type: string
              description: Value should be 'true' if RSA public key is being requested
        account:
          description: Account array object is only required in CreateSessionToken call request body only for microDepositValidation, update, close consumer requests. For other requests account section is optional and not required.
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                description: Value "ACH" always needs to be passed in this field.
              fdAccountID:
                type: string
                description: fdAccountID for the consumers account is required in CreateSessionToken call request body only for microDepositValidation, update, close consumer requests. For other requests account section is optional and not required.
    GetPublicKeyRequest:
      type: object
      properties:
        security:
          type: object
          properties:
            publicKeyRequired:
              type: string
              description: Value should be 'true' if RSA public key is being requested
            publicKeyOverridable:
              type: string
              description: This value should only be true if a new long lived public key needs to be generated before the last one has timed out.
    GetDataRequest:
      type: object
      properties:
        customer:
          type: object
          properties:
            fdCustomerID:
              type: string
              description: Consumer’s fdCustomerID generated in response to ProfileAdd request.
        account:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                description: Value "ACH" always needs to be passed in this field.
              fdAccountID:
                type: string
                description: Consumer’s fdAccountID generated in response to Consumer Enrollment.
              fetchAccountDetails:
                type: array
                items:
                  type: object
                  properties:
                    fetch:
                      type: string
                      description: firstName-description
                    masked:
                      type: string
                      description: masked-description
    EstablishRequest:
      type: object
      properties:
        customer:
          type: object
          properties:
            fdCustomerID:
              type: string
              description: Consumer’s fdCustomerID associated with this request.
        account:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                enum:
                  - ACH
                description: Value "ACH" always needs to be passed in this field.
              callType:
                type: string
                description: Defines the type of data pulled from bank. Should be agreed upon value during onboarding of a merchant. Allowable values are "pwmb.getBankInfo", "pwmb.getConsumerInfo", "pwmb.getAll"
              returnUrl:
                type: string
                description: When using a web interface, after the user completes the online bank login service, this url will be loaded to the browser with all the online bank login parameters appended to it.
    ValidateRequest:
      type: object
      properties:
        customer:
          type: object
          properties:
            fdCustomerID:
              type: string
        account:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
              userIdentificationDetails:
                type: object
                properties:
                  onlineBankTransactionId:
                    type: string
              requestSignature:
                type: string
              callType:
                type: string
              oblTransactionType:
                type: string
              merchantReference:
                type: string
              status:
                type: string
              panel:
                type: string
              paymentType:
                type: string
              paymentProviderType:
                type: string
              paymentAccountVerified:
                type: string
              returnUrl:
                type: string
    ProfileAddRequest:
      type: object
      properties:
        customer:
          type: object
          properties:
            externalID:
              type: string
              description: This is the user’s unique identifier in the merchant system.
    EnrollmentRequest:
      type: object
      properties:
        customer:
          type: object
          properties:
            externalID:
              type: string
              description: This is the user’s unique identifier in the merchant system.
            fdCustomerID:
              type: string
              description: Consumer’s fdCustomerID generated in response to ProfileAdd request.
        account:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                description: Value "ACH" always needs to be passed in this field.
              userDetails:
                type: object
                properties:
                  firstName:
                    type: string
                    description: firstName-description
                  lastName:
                    type: string
                    description: lastName-description
                  email:
                    type: string
                    description: email-description
                  gender:
                    type: string
                    description: gender-description
                  dob:
                    type: string
                    description: dob-description
                  memberSince:
                    type: string
                    description: memberSince-description
                  agreedTncVersion:
                    type: string
                    description: agreedTncVersion-description
              userAddressDetails:
                type: object
                properties:
                  street:
                    type: string
                    description: street-description
                  street2:
                    type: string
                    description: street2-description
                  state:
                    type: string
                    description: state-description
                  city:
                    type: string
                    description: city-description
                  country:
                    type: string
                    description: country-description
                  postalCode:
                    type: string
                    description: postalCode-description
              userIdentificationDetails:
                type: object
                properties:
                  routingNumber:
                    type: string
                    description: routingNumber-description
                  accountNumber:
                    type: string
                    description: accountNumber-description
                  connectPayPaymentNumber:
                    type: string
                    description: connectPayPaymentNumber-description
                  corporateAccountFlag:
                    type: string
                    description: corporateAccountFlag-description
                  driverLicenseNumber:
                    type: string
                    description: driverLicenseNumber-description
                  driverLicenseState:
                    type: string
                    description: driverLicenseState-description
                  ssn:
                    type: string
                    description: ssn-description
                  onlineBankTransactionId:
                    type: string
                    description: onlineBankTransactionId-description
                  pin:
                    type: string
                    description: pin-description
              sqnA:
                type: array
                items:
                  type: object
                  properties:
                    securityQuestionId:
                      type: string
                      description: securityQuestionId-description
                    securityQuestion:
                      type: string
                      description: securityQuestion-description
                    securityAnswer:
                      type: string
                      description: securityAnswer-description
              userPhone:
                type: array
                items:
                  type: object
                  properties:
                    type:
                      type: string
                      description: type-description
                    number:
                      type: string
                      description: number-description
                    extension:
                      type: string
                      description: extension-description
                    primary:
                      type: string
                      description: primary-description
              reportingFields:
                type: object
                properties:
                  reportingField1:
                    type: string
                    description: reportingField1-description
                  reportingField2:
                    type: string
                    description: reportingField2-description
                  reportingField3:
                    type: string
                    description: reportingField3-description
              genericCodes:
                type: object
                properties:
                  genericCode1:
                    type: string
                    description: genericCode1-description
                  genericCode2:
                    type: string
                    description: genericCode2-description
                  genericCode3:
                    type: string
                    description: genericCode3-description
              genericFlags:
                type: object
                properties:
                  genericFlag1:
                    type: string
                    description: genericFlag1-description
                  genericFlag2:
                    type: string
                    description: genericFlag2-description
                  genericFlag3:
                    type: string
                    description: genericFlag3-description
              userSysDetails:
                type: object
                properties:
                  ipAddress:
                    type: string
                    description: ipAddress-description
                  trueIpAddress:
                    type: string
                    description: trueIpAddress-description
                  imei:
                    type: string
                    description: imei-description
                  organizationId:
                    type: string
                    description: organizationId-description
                  sessionId:
                    type: string
                    description: sessionId-description
    GetAccountListRequest:
      type: object
      properties:
        customer:
          type: object
          properties:
            fdCustomerID:
              type: string
              description: Consumer’s fdCustomerID generated in response to ProfileAdd request.
    GetAccountDetailsRequest:
      type: object
      properties:
        customer:
          type: object
          properties:
            fdCustomerID:
              type: string
              description: Consumer’s fdCustomerID generated in response to ProfileAdd request.
        account:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                minimum: 3
                maximum: 3
                nullable: false
                description: Type of account.
              fdAccountID:
                type: string
                minimum: 1
                maximum: 50
                description: Consumers fdAccountID associated with this request .Either fdAccountID or connectPaymentNumber is needed.
    ACHPurchaseRequest:
      type: object
      properties:
        partner:
          type: object
          properties:
            subscriberID:
              type: string
              minimum: 1
              maximum: 10
              nullable: false
              description: Transaction Subscriber ID
        customer:
          type: object
          properties:
            fdCustomerID:
              type: string
              minimum: 1
              maximum: 50
              nullable: false
              description: Consumers fdCustomerID associated with this request.
        account:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                minimum: 3
                maximum: 3
                nullable: false
                description: Type of account.
              fdAccountID:
                type: string
                minimum: 1
                maximum: 50
                description: Consumers fdAccountID associated with this request .Either fdAccountID or connectPaymentNumber is needed.
              userIdentificationDetails:
                type: object
              transactionDetails:
                type: object
                properties:
                  amount:
                    type: number
                    nullable: false
                    description: Processed Amount in cents. 1299 = $12.99.
                  currencyCode:
                    type: string
                    minimum: 3
                    maximum: 3
                    nullable: false
                    description: USD - Only supports US Dollars.
                  merchantTransactionId:
                    type: string
                    minimum: 1
                    maximum: 100
                    nullable: false
                    description: Merchant's unique transaction ID. Required to process secondary transactions like void and refund. For Authorize/Capture transactions, merchant_transaction_id submitted during Capture transactions will be required to process void and refund requests.
                  recurringPayment:
                    type: string
                    minimum: 1
                    maximum: 1
                    nullable: true
                    description: S or Null = Single/non-recurring Payment (one time sale) R = Recurring Payment. Required when submitting recurring/bill payment transactions.
                  creditDebitIndicator:
                    type: string
                    minimum: 1
                    maximum: 1
                    nullable: true
                    description: D=Debit is used for all purchase/sale use cases. If no value is sent we will default it to D to Debit.
              userSysDetails:
                type: object
                properties:
                  organizationId:
                    type: string
                    minimum: 0
                    maximum: 128
                    nullable: true
                    description: Organization ID used for device fingerprinting services.
                  sessionId:
                    type: string
                    minimum: 1
                    maximum: 128
                    nullable: true
                    description: Session ID used for device fingerprinting services.
    ACHAuthorizeRequest:
      type: object
      properties:
        partner:
          type: object
          properties:
            subscriberID:
              type: string
              minimum: 1
              maximum: 10
              nullable: false
              description: Transaction Subscriber ID
        customer:
          type: object
          properties:
            fdCustomerID:
              type: string
              minimum: 1
              maximum: 50
              nullable: false
              description: Consumers fdCustomerID associated with this request.
        account:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                minimum: 3
                maximum: 3
                nullable: false
                description: Type of account.
              fdAccountID:
                type: string
                minimum: 1
                maximum: 50
                description: Consumers fdAccountID associated with this request .Either fdAccountID or connectPaymentNumber is needed.
              userIdentificationDetails:
                type: object
              transactionDetails:
                type: object
                properties:
                  amount:
                    type: number
                    nullable: false
                    description: Processed Amount in cents. 1299 = $12.99.
                  currencyCode:
                    type: string
                    minimum: 3
                    maximum: 3
                    nullable: false
                    description: USD - Only supports US Dollars.
                  pinData:
                    type: string
                    minimum: 1
                    maximum: 32
                    nullable: true
                    description: This is the encrypted pin block for validating the transaction.
                  merchantTransactionId:
                    type: string
                    minimum: 1
                    maximum: 100
                    nullable: false
                    description: Merchant's unique transaction ID. Required to process secondary transactions like void and refund. For Authorize/Capture transactions, merchant_transaction_id submitted during Capture transactions will be required to process void and refund requests.
                  recurringPayment:
                    type: string
                    minimum: 1
                    maximum: 1
                    nullable: true
                    description: S or Null = Single/non-recurring Payment (one time sale) R = Recurring Payment. Required when submitting recurring/bill payment transactions.
                  creditDebitIndicator:
                    type: string
                    minimum: 1
                    maximum: 1
                    nullable: true
                    description: D=Debit is used for all purchase/sale use cases. If no value is sent we will default it to D to Debit.
                  splitShipmentFlag:
                    type: string
                    minimum: 1
                    maximum: 1
                    nullable: true
                    description: Optional field denoting that this is a Split Shipment Original Authorization. The Authorization life will be counted from the time of this transaction and the Authorization Range will be based on the Amount of this transaction.
                  productCode:
                    type: string
                    minimum: 1
                    maximum: 6
                    nullable: true
                    description: Product code identifies the highest ticket item in the purchase and is used in the risk analysis of the transaction. Value should be unsigned numeric.
              userSysDetails:
                type: object
                properties:
                  organizationId:
                    type: string
                    minimum: 0
                    maximum: 128
                    nullable: true
                    description: Organization ID used for device fingerprinting services.
                  sessionId:
                    type: string
                    minimum: 1
                    maximum: 128
                    nullable: true
                    description: Session ID used for device fingerprinting services.
  examples:
    CreateSessionTokenRequestPayloadSample:
      value:
        security:
          publicKeyRequired: true
    CreateSessionTokenRequestWithAccountInformationPayloadSample:
      value:
        security:
          publicKeyRequired: true
        account:
          - type: ACH
            fdAccountID: CPlgPO15804795190661084P4u9zY
    GetPublicKeyPayloadSample:
      value:
        security:
          publicKeyRequired: true
          publicKeyOverridable: false
    GetPublicKeyWithOverridePayloadSample:
      value:
        security:
          publicKeyRequired: true
          publicKeyOverridable: true
    GetDataPayloadSample:
      value:
        customer:
          fdCustomerID : CPX8lY16074639744570000921EKCfWM
        account:
          - type: ACH
            fdAccountID: CPX8lY1607463998985721BKCeBf
            fetchAccountDetails:
              - fetch: getAllDetails
                masked: N
    EstablishRequestPayloadSample:
      value:
        account:
          - type: ACH
            callType: pwmb.getAll
            returnUrl: https://qa.api.firstdata.com/gateway/v2/connectpay/static/v1/build/index.html#/CPBankOnlyWidget/
        customer:
          fdCustomerID: CPHZ5J15829135992040000839bCQExj
    ValidateRequestPayloadSample:
      value:
        customer:
          fdCustomerID : CPX8lY15653275885410000003vPLqiF
        account:
          - type: ACH
            userIdentificationDetails:
            onlineBankTransactionId: 1002536270
            requestSignature: QCXCovlWAGq/OmyDAl7pcAmK+ek=
            callType : pwmb.getAll
            oblTransactionType: 1
            merchantReference: 1961
            status: 2
            panel: 1
            paymentType: 6
            paymentProviderType: 1
            paymentAccountVerified: true
            returnUrl: https://cat.api.firstdata.com/gateway/v2/connectpay/static/v1/build/index.html#/CPBankOnlyWidget/
    ProfileAddPayloadSample:
      value:
        customer:
          externalID : Merchant01Consumer65746635
    EnrollmentPayloadSample:
      value:
        customer:
          fdCustomerID : CP87rx15814147322210000442tJpajq
        account:
          - type: ACH
            userDetails:
              firstName: Harry
              lastName: Smith
              email: harry.smith@firstdata.com
              gender: M
              dob: 19001010
              memberSince: 19001010
              agreedTncVersion: v1
            userAddressDetails:
              street: 7979 Westheimer
              street2: APT 229
              state: TX
              city: Houston
              country: 840
              postalCode: 77063
            userIdentificationDetails:
              routingNumber: "141313134"
              accountNumber: "4444444444"
              connectPayPaymentNumber: ""
              corporateAccountFlag: personal_check
              driverLicenseNumber: "85123430"
              driverLicenseState: TX
              ssn: "123456789"
              onlineBankTransactionId: ""
              pin: "1234"
            sqnA:
              - securityQuestionId: "1234"
                securityQuestion: What is the name of your pet dog ?
                securityAnswer: Bingo
            userPhone:
              - type: MOBILE
                number: "1234567890"
                extension: ""
                primary: "Y"
              - type: HOME
                number: "2234567890"
                extension: ""
                primary: "N"
              - type: BUSINESS
                number: "3234567890"
                extension: "1234"
                primary: "N"
            reportingFields:
              reportingField1: "123"
              reportingField2: "456"
              reportingField3: "789"
            genericCodes:
              genericCode1: "1"
              genericCode2: "2"
              genericCode3: "3"
            genericFlags:
              genericFlag1: "F"
              genericFlag2: "Y"
              genericFlag3: "Z"
            userSysDetails:
              ipAddress: "10.10.10.10"
              trueIpAddress: "11.11.11.11"
              imei: "548624521256523"
              organizationId: Ozvk1dz
              sessionId: jhgd87f658adbasjhbdas765d
    GetAccountListPayloadSample:
      value:
        customer:
          fdCustomerID : CP87rx15814147322210000442tJpajq
    GetAccountDetailsPayloadSample:
      value:
        customer:
          fdCustomerID : CP0hCA15819809713750000745a2K9go
        account:
          - type: ACH
            fdAccountID: CP0hCA1583183750214467CFr5aq
    ACHPurchaseRequestPayloadSample:
      value:
        partner:
          subscriberID : "36005712"
        customer:
          fdCustomerID : "CP1GWQ15714334637260000266MNpu7Q"
        account:
          - type: "ACH"
            userIdentificationDetails: {}
            transactionDetails:
              amount: 1050
              currencyCode: "USD"
              merchantTransactionId : "17021542392"
              recurringPayment: R
              creditDebitIndicator: D
              productCode: 770100
            userSysDetails:
              organizationId: s0b500qh
              sessionId: 3ca6ee0408028f118f102ed0b64779353789ebe3
    ACHAuthorizeRequestPayloadSample:
      value:
        partner:
          subscriberID : "36005712"
        customer:
          fdCustomerID : "CP1GWQ15714334637260000266MNpu7Q"
        account:
          - type: "ACH"
            userIdentificationDetails: {}
            transactionDetails:
              amount: 1050
              currencyCode: "USD"
              pinData: ""
              merchantTransactionId : "17021542392"
              recurringPayment: R
              creditDebitIndicator: D
              splitShipmentFlag: "Y"
              productCode: 770100
            userSysDetails:
              organizationId: s0b500qh
              sessionId: 3ca6ee0408028f118f102ed0b64779353789ebe3

  responses:
    200-CreateSessionTokenResponsePayloadSamples:
      description: |
        ### HTTP 200 Response.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CPAPIGenericResponse'
          examples:
            ResponsePayloadSample-Approved:
              value:
                transactionStatus: APPROVED
                transactionStatusCode: 0
                referenceTransactionID: 0021-039d7190-069a-cde1-3043-de622362f15e
                transactionStatusDescription: OK
                security:
                  tokenID: 5m1ew614uiwStDegPq48MSA9ej5E
                  issuedOn: 1683296193218
                  expiresInSeconds: 899
                  publicKey: MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAo8jR693ueb0BGPasFMf1V9QP6VpElKu1x/Qpu8M4DhX0o0VimgAd3TY0TPAK6Tl+DkkC0ana1u/NjEVomoZXP15jWEBSFG2DciiMPLtzbvrobwdmWnWQHSX9licUb5jf0fOKe2gx7q0CY095+SkVjytnQGdc315WYMMo/a1EUXzFhy1ZMkj6riZ+wEneQITsN1haKqS6Q6wQMBjHBrsFomaU2qPrnlrpuZjXUP5rt5+CYCGdwLEiCGNGe47tqP48Yk3snn+yVdPWnOfuz5aG3dNdteV5zVhMkVGIdmrJTgAh1auCOxNc44GTGo3rQn9WD5p4Lo8aLGkyHjv3kmvDLQIDAQAB
                  algorithm: RSA/None/OAEPWithSHA512AndMGF1Padding
                  status: ACTIVE
            ResponsePayloadSample-Declined:
              value:
                transactionStatus: DECLINED
                transactionStatusCode: 450
                referenceTransactionID: 0021-24efedc1-8764-b930-7f84-47ce4b463433
                transactionStatusDescription: Partner Not Found
                errorDetails:
                  errorCode: 4550
                  errorField: PartnerID
                  errorReason: PartnerID not Found
            ResponsePayloadSample-Error:
              value:
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: 0021-24efedc1-8764-b930-7f84-47ce4b463433
                transactionStatusDescription: Input is invalid
                errorDetails:
                  errorCode: 1060
                  errorField: Content-Type
                  errorReason: Required Header field is missing
    401-AuthenticationErrorPayloadSample:
      description: |
        ### HTTP 401 Response.
        #### Authentication error. Probably due to incorrect Authorization header calculation.
    200-GetPublicKeyResponsePayloadSamples:
      description: |
        ### HTTP 200 Response.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CPAPIGenericResponse'
          examples:
            ResponsePayloadSample-Approved:
              value:
                transactionStatus: APPROVED
                transactionStatusCode: 0
                referenceTransactionID: 0021-ea52bf08-1829-4d1a-99bb-24d689c57400
                transactionStatusDescription: OK
                security:
                  issuedOn: "2024-01-20T20:37:14.167049733Z"
                  expiresInSeconds: 31622400
                  publicKey: MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAofzBBruWDxHCbSJaWY4hq8THqo/MxrRCMhJlDg45MIFoQe7UaX84DlzMOfTyUmwAy7sOoKIz9SIEOknOgrIOks37gsPYivkgHxbkr1Z7cGgQy8qZTPk5/8QH4M/SJTx8hpGF56NLRNcvgm1bvpmgfg9KwvxvIHDT/7lS7TxLkbO+WPe+OtljovYivRMPJJSoBrtTHmCO4ep3ipYFxrAkSGmeBQANsza7/g7nI8kt23w6C9TDRfoVdsgY56IcH69GqqVKI6kRVmKauxWdCUrfbY516zD8tt1THn5196Xjgo/oCHYk5JEuznWhqueTiO5SkSB6bvj8hnNZYrB4Uhd8KwIDAQAB
                  algorithm: RSA/None/OAEPWithSHA512AndMGF1Padding
                  status: ACTIVE
            ResponsePayloadSample-Declined:
              value:
                transactionStatus: DECLINED
                transactionStatusCode: 450
                referenceTransactionID: 0021-24efedc1-8764-b930-7f84-47ce4b463433
                transactionStatusDescription: Partner Not Found
                errorDetails:
                  errorCode: 4550
                  errorField: PartnerID
                  errorReason: PartnerID not Found
            ResponsePayloadSample-Error:
              value:
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: 0021-24efedc1-8764-b930-7f84-47ce4b463433
                transactionStatusDescription: Input is invalid
                errorDetails:
                  errorCode: 1060
                  errorField: Content-Type
                  errorReason: Required Header field is missing
    401-GetPublicKeyResponsePayloadSample:
      description: |
        ### HTTP 401 Response.
        #### Authentication error. Probably due to incorrect Authorization header calculation.
    200-EstablishResponsePayloadSamples:
      description: The request cannot be validated.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CPAPIGenericResponse'
          examples:
            ResponsePayloadSample-Approved:
              value:
                transactionStatus: APPROVED
                transactionStatusCode: 0
                referenceTransactionID: 186ad875-1695-3254-68a4-b578034b94e7
                transactionStatusDescription: OK
                teleCheckDetails:
                  amount: 0.00
                  currency: USD
                  accessId: RqBNyqzgTVGhmvyV74NM
                  merchantId: 1001200367
                  description: TCK_PWMB Call
                  merchantReference: 18096
                  paymentType: Retrieval
                  returnUrl: https://cat.api.firstdata.com/gateway/v2/connectpay/static/v1/build/index.html#/CPBankOnlyWidget/
                  cancelUrl: https://cat.api.firstdata.com/gateway/v2/connectpay/static/v1/build/index.html#/CPBankOnlyWidget/
                  requestSignature: 76XVsxZbD9BGJQWRWgWeEPs7V5M=
                customer:
                  fdCustomerID: CP0hCA15725561636040000017vlLFeL
            ResponsePayloadSample-Declined:
              value:
                transactionStatus: DECLINED
                transactionStatusCode: 401
                referenceTransactionID: 24efedc1-8764-b930-7f84-47ce4b463433
                transactionStatusDescription: Unauthorize
                responseVerbiage: Unauthorize
                errorDetails:
                  errorCode: 4550
                  errorField: PartnerID
                  errorReason: Partner is not opt for this service
            ResponsePayloadSample-Error:
              value:
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: 97dd7979-8fa4-9e80-75df-4bb6924863ae
                transactionStatusDescription: Input is invalid
                responseVerbiage: Input is invalid
                errorDetails:
                  errorCode: 1035
                  errorField: CallType
                  errorReason: Required field is missing
    200-ValidateResponsePayloadSamples:
      description: The request cannot be validated.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CPAPIGenericResponse'
          examples:
            ResponsePayloadSample-Approved:
              value:
                transactionStatus: APPROVED
                transactionStatusCode: 0
                referenceTransactionID: 5cdd1d99-5367-ed98-56fd-3f52ab008ac8
                transactionStatusDescription: OK
                customer:
                  fdCustomerID: CPX8lY15653275885410000003vPLqiF
                account:
                  - userDetails:
                      firstName: John
                      lastName: Smith
                      email: john123@fiserv.com
                    userAddressDetails:
                      street: 763 Robin Street
                      street2: Donbosco Lane
                      state: Whayend
                      city: DJSOO
                      postalCode: 70923
                    userIdentificationDetails:
                      routingNumber: "*****3116"
                      accountNumber: "*****6576"
                      onlineBankTransactionId: 1002536270
                    userPhone:
                      - number : 9876543212
            ResponsePayloadSample-Declined:
              value:
                transactionStatus: DECLINED
                transactionStatusCode: 440
                referenceTransactionID: bbb59fe8-492f-9c53-3a30-73637cb2d7d9
                transactionStatusDescription: Other Telecheck Decline
                responseVerbiage: Other Telecheck Decline
                errorDetails:
                  errorCode: 4410
                  errorField: OnlineBankTransactionId
                  errorReason: Field contained a bad value
            ResponsePayloadSample-Error:
              value:
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: 906c517e-5570-4286-86c2-33dc3e0d18cc
                transactionStatusDescription: Input is invalid
                errorDetails:
                  errorCode: 1035
                  errorField: CallType
                  errorReason: Required field is missing
    401-ComponentFallbackPayloadSample:
      description: The request cannot be validated.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CPAPIGenericResponse'
          examples:
            ComponentFallbackPayloadSample:
              value:
                componentFallBack: "{\r\n  \"transactionStatus\" : \"DECLINED\",\r\n  \"transactionStatusCode\" : 420,\r\n  \"referenceTransactionID\" : \"APIGEE-a-90f-4946-ff14-36aa4b9a6325\",\r\n  \"transactionStatusDescription\" : \"Unauthorized\",\r\n  \"responseVerbiage\" : \"Unauthorized\",\r\n  \"errorDetails\" : [ {\r\n    \"errorCode\" : 4250,\r\n    \"errorField\" : \"Client-Token\",\r\n    \"errorReason\" : \"Session time out\"\r\n  } ]\r\n}"
    200-ProfileAddResponsePayloadSamples:
      description: The request cannot be validated.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CPAPIGenericResponse'
          examples:
            ResponsePayloadSample-Approved:
              value:
                transactionStatus: APPROVED
                transactionStatusCode: 0
                referenceTransactionID: 5cdd1d99-5367-ed98-56fd-3f52ab008ac8
                transactionStatusDescription: Created
                customer:
                  fdCustomerID: CP1GWQ15714280477520000262L7Wymj
                  externalID: Merchant01Consumer65746635
            ResponsePayloadSample-Declined:
              value:
                transactionStatus: DECLINED
                transactionStatusCode: 409
                referenceTransactionID: bbb59fe8-492f-9c53-3a30-73637cb2d7d9
                transactionStatusDescription: Conflict
                responseVerbiage: Conflict
                errorDetails:
                  errorCode: 4910
                  errorField: externalID
                  errorReason: ExternalID already used by another Customer
            ResponsePayloadSample-Error:
              value:
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: 906c517e-5570-4286-86c2-33dc3e0d18cc
                transactionStatusDescription: Input is invalid
                errorDetails:
                  errorCode: 1035
                  errorField: InitializationVector
                  errorReason: Required field is missing
    200-EnrollmentResponsePayloadSamples:
      description: The request cannot be validated.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CPAPIGenericResponse'
          examples:
            ResponsePayloadSample-Approved:
              value:
                transactionStatus: APPROVED
                transactionStatusCode: "70"
                referenceTransactionID: 03978cc3-db3a-47aa-8b64-ca1db28ec77c
                transactionStatusDescription: Created
                responseVerbiage: Your enrollment is approved but pending bank account validation. You should receive a welcome email from our company with the next steps to validate and activate your account.
                nonce: 9E5048FAAA900394E0530AAE3307E7A6408
                teleCheckDetails:
                  transactionId: "1400099000000000011052"
                  tckResponseCode: "07"
                  approvalCode: "7350"
                  displayText: "APPROVED 1414"
                  sequenceId: "0"
                  ecaOfferCode: "Y"
                customer:
                  fdCustomerID: CP87rx15814147322210000442tJpajq
                account:
                  - accountStatus: "70"
                    accountStatusDesc: PENDING_VALIDATIONS
                    accountValidationDetails:
                      - validationCode: "10"
                        validationCodeDesc: Bank Validation Status
                        validationCodeStatus: PENDING
            ResponsePayloadSample-Declined:
              value:
                transactionStatus: DECLINED
                transactionStatusCode: "140"
                referenceTransactionID: d1175022-2eb3-4e8a-bd47-0881cbea6887
                transactionStatusDescription: The Customer has already enrolled the maximum allowable number of accounts
                responseVerbiage: The Customer has already enrolled the maximum allowable number of accounts
                errorDetails:
                  errorCode: "2210"
                  errorField: fdCustomerID
                  errorReason: The Customer has already enrolled the maximum allowable number of accounts.
            ResponsePayloadSample-Error:
              value:
                transactionStatus: ERROR
                transactionStatusCode: "100"
                referenceTransactionID: 5b50ac24-3013-4e2e-8f9f-314dae8e5748
                transactionStatusDescription: Input is invalid
                responseVerbiage: Input is invalid
                errorDetails:
                  errorCode: "1010"
                  errorField: RoutingNumber
                  errorReason: Field did not have a valid format
    200-GetDataResponsePayloadSamples:
      description: The request cannot be validated.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CPAPIGenericResponse'
          examples:
            ResponsePayloadSample-Approved:
              value:
                transactionStatus: APPROVED
                transactionStatusCode: 0
                referenceTransactionID: 29f0e47c-7e36-0ce7-64d0-7f38940f4982
                transactionStatusDescription: OK
                customer:
                  fdCustomerID: CPX8lY16074639744570000921EKCfWM
                account:
                  - fdAccountID: CPX8lY1607463998985721BKCeBf
                    type: ACH
                    accountStatus: 10
                    accountStatusDesc: ACTIVE
                    accountValidationDetails:
                      - validationCode: 10
                        validationCodeDesc: Bank Validation Status
                        validationCodeStatus: COMPLETE
                      - validationCode: 50
                        validationCodeDesc: Pin Update Status
                        validationCodeStatus: COMPLETE
                    userDetails:
                      firstName: John
                      lastName: Smith
                      email: john123@fiserv.com
                      gender: M
                      dob: 19871115
                      memberSince: 20150226
                      agreedTncVersion: v1
                    userAddressDetails:
                      street: 112 Freeway
                      street2: Apt 100
                      state: TX
                      city: Houston
                      country: 840
                      postalCode: 77089
                    userIdentificationDetails:
                      routingNumber: "311080311"
                      accountNumber: "6751902256"
                      corporateAccountFlag: personal_check
                      bankName: SUN CU
                      driverLicenseNumber: "89221267"
                      driverLicenseState: TX
                      ssn: "788816256"
                      connectPayPaymentNumber: "1639635610000000631"
                    userPhone:
                      - type: MOBILE
                        number: 9876543212
                        primary: Y
                      - type: HOME
                        number: 1234567890
                        primary: N
                      - type: BUSINESS
                        number: 2134567890
                        primary: N
                      - type: OTHERS
                        number: 312456789
                        primary: N
                    sqnA:
                      - securityQuestionId: 1234
                        securityQuestion: What is the name of your pet dog ?
                    reportingFields:
                      - reportingField1: 123
                        reportingField2: 1234
                        reportingField3: 12345
                    genericCodes:
                      - genericCode1: 12345678
                        genericCode2: 23456789
                        genericCode3: 34567890
                    genericFlags:
                      - genericFlag1: Y
                        genericFlag2: N
                        genericFlag3: N
            ResponsePayloadSample-Error:
              value:
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: 906c517e-5570-4286-86c2-33dc3e0d18cc
                transactionStatusDescription: Input is invalid
                responseVerbiage: Input is invalid
                errorDetails:
                  errorCode: 1030
                  errorField: Masked
                  errorReason: Required field did not have a value
    200-GetAccountListResponsePayloadSamples:
      description: The request cannot be validated.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CPAPIGenericResponse'
          examples:
            ResponsePayloadSample-Approved:
              value:
                transactionStatus: APPROVED
                transactionStatusCode: "0"
                referenceTransactionID: de2dfbe9-9157-213f-a106-b9da22bf18c2
                transactionStatusDescription: OK
                customer:
                  fdCustomerID: CP0hCA15819809713750000745a2K9go
                account:
                  - type: ACH
                    fdAccountID: CP0hCA1581981210825389lUM4ie
                    connectPayPaymentNumber: "***************0059"
                    accountStatus: "10"
                    accountStatusDesc: ACTIVE
                    userIdentificationDetails:
                      - routingNumber: "*****0791"
                        accountNumber: "******4967"
                        bankName: Wells Fargo
                        corporateAccountFlag: personal_check
                  - type: ACH
                    fdAccountID: CP0hCA1583183750214467CFr5aq
                    connectPayPaymentNumber: "***************0075"
                    accountStatus: "10"
                    accountStatusDesc: ACTIVE
                    userIdentificationDetails:
                      - routingNumber: "*****0311"
                        accountNumber: "******2532"
                        bankName: Bank Of America
                        corporateAccountFlag: personal_check
                  - type: ACH
                    fdAccountID: CP0hCA1582132850073391ctfYwU
                    connectPayPaymentNumber: "***************0075"
                    accountStatus: "70"
                    accountStatusDesc: PENDING_VALIDATIONS
                    userIdentificationDetails:
                      - routingNumber: "*****7789"
                        accountNumber: "******4196"
                        bankName: Chase
                        corporateAccountFlag: personal_check
            ResponsePayloadSample-Declined:
              value:
                transactionStatus: DECLINED
                transactionStatusCode: "401"
                referenceTransactionID: 43d3821f-2c9e-46e1-b12b-eb63ee09f8bc
                transactionStatusDescription: Unauthorize
                responseVerbiage: Unauthorize
                errorDetails:
                  errorCode: "4550"
                  errorField: PartnerID
                  errorReason: Partner is not opt for this service
            ResponsePayloadSample-Error:
              value:
                transactionStatus: ERROR
                transactionStatusCode: "140"
                referenceTransactionID: f2155555-2eb4-469e-8885-3c97d254b8ef
                transactionStatusDescription: Customer profile not found
                responseVerbiage: Customer profile not found
                errorDetails:
                  errorCode: "2220"
                  errorField: fdCustomerID
                  errorReason: Customer profile not found
    200-GetAccountDetailsResponsePayloadSamples:
      description: The request cannot be validated.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CPAPIGenericResponse'
          examples:
            ResponsePayloadSample-Approved:
              value:
                transactionStatus: APPROVED
                transactionStatusCode: "0"
                referenceTransactionID: 905aff82-e605-d900-e5af-19fb8c1f6189
                transactionStatusDescription: OK
                customer:
                  fdCustomerID: CP0hCA15819809713750000745a2K9go
                account:
                  - type: ACH
                    fdAccountID: CP0hCA1583183750214467CFr5aq
                    connectPayPaymentNumber: "1639635777000000075"
                    accountStatus: "10"
                    accountStatusDesc: "ACTIVE"
                    userIdentificationDetails:
                      - routingNumber: "*****0311"
                        accountNumber: "******2532"
                        bankName: "Bank Of America"
                        corporateAccountFlag: personal_check
            ResponsePayloadSample-Declined:
              value:
                transactionStatus: DECLINED
                transactionStatusCode: "401"
                referenceTransactionID: 43d3821f-2c9e-46e1-b12b-eb63ee09f8bc
                transactionStatusDescription: Unauthorize
                responseVerbiage: Unauthorize
                errorDetails:
                  errorCode: "4550"
                  errorField: PartnerID
                  errorReason: Partner is not opt for this service
            ResponsePayloadSample-Error:
              value:
                transactionStatus: ERROR
                transactionStatusCode: "150"
                referenceTransactionID: 43d3821f-2c9e-46e1-b12b-eb63ee09f8bc
                transactionStatusDescription: Account detail not found
                responseVerbiage: Account detail not found
                errorDetails:
                  errorCode: "2310"
                  errorField: fdAccountID
                  errorReason: Account detail not found
    200-ACHPurchaseResponsePayloadSamples:
      description: Successful ACH Purchase response.
      content:
        application/json:
          schema:
            oneOf:
              - $ref: '#/components/schemas/CPAPIGenericResponse'
          examples:
            ResponsePayloadSample-Approved:
              value:
                transactionStatus: APPROVED
                transactionStatusCode: 0
                referenceTransactionID: 186ad875-1695-3254-68a4-b578034b94e7
                transactionStatusDescription: Approved
                teleCheckDetails:
                  transactionId: "1400320000000007761092"
                  tckResponseCode: 07
                  approvalCode: 1707
                  achTransactionStatus: 1
                  dateTime: "2019-10-18T20:40:29.993Z"
    200-ACHAuthorizeResponsePayloadSamples:
      description: Successful ACH Authorize response.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CPAPIGenericResponse'
          examples:
            ResponsePayloadSample-Approved:
              value:
                transactionStatus: APPROVED
                transactionStatusCode: 0
                referenceTransactionID: 186ad875-1695-3254-68a4-b578034b94e7
                transactionStatusDescription: Approved
                teleCheckDetails:
                  transactionId: "1400320000000007761092"
                  tckResponseCode: 07
                  approvalCode: 1707
                  achTransactionStatus: 1
                  dateTime: "2019-10-18T20:40:29.993Z"
