openapi: 3.0.3

# This is your document metadata.
info:
  version: 4.6.1
  title: PayByBank Specification
  description: |
    ### Fiserv PayByBank solution exposes a set of services to facilitate ACH account vaulting, authorization and settlement. 
    PayByBank follows an enroll first and pay later model. Consumer needs to first enroll himself into the system by providing demographic and ACH payment information. The payment information is tokenized and ACH transactions can be sent in by merchants using the PayByBank token.
    Authorization, Risking, Settlement are all inhouse functionalities to TeleCheck.

    PayByBank solution enforces a full payload encryption. Details of encryption and decryption can be found at [Encryption/Decryption Methodology](https://escmconfluence.1dc.com/pages/viewpage.action?pageId=498239026).

  termsOfService: https://merchants.fiserv.com/en-us/privacy/?utm_source=firstdataus
  contact:
    name: API Support
    email: dl-na-paybybank-it-gbs@fiserv.com
# Servers where this API is hosted
servers:
  - url: https://cat.api.firstdata.com/gateway/v2/connectpay
    description: Certification Environment
  - url: https://prod.api.firstdata.com/gateway/v2/connectpay
    description: Production Environment
tags:
  - name: Security Services
    description: These set of services are used to assist in the encryption of request payload and pulling consumer information. These set of services should always be called from merchants secure server.
  - name: Online Bank Login
    description: These set of services are used to assist online bank login use cases
  - name: Consumer Profile Management
    description: These set of services assist in managing consumer profile information **create** **update** **authenticate** **close**
  - name: Account Services
    description: These set of services assist pulling ACH wallet information for consumer on file to select one of the valted account for PayByBank Transactions
  - name: Transactions
    description: These set of services are for processing ACH Transactions
# This is the endpoint that will show
paths:
  '/security/createsessiontoken':
    # This is similar to a file directory of showing which is a subgroup of which
    #Here Create Sesssion Token is under the Security Services folder/parent group 
    #It is also which type of RESTful API call it is which in this case it is a Post
    post:
      x-proxy-name: Create Session
      x-group-name: Security Services
      tags:
        - Security Services
      summary: |
        Generates a time bound public key and session token.
        Should be used by merchants who use PayByBank SDKs.
      description: |
        The Create Session Token API call is used to create a session token and to retrieve the RSA public encryption key generated for this session.
        This API is secured as it requires the Authorization header that can only be derived using the API Secret stored in the Merchant’s server.
      parameters:
        - $ref: '#/components/parameters/contentTypeParam'
        - $ref: '#/components/parameters/apiKeyParam'
        - $ref: '#/components/parameters/timestampParam'
        - $ref: '#/components/parameters/authorizationParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSessionTokenRequest'
            examples:
              RequestPayloadSample:
                $ref: '#/components/examples/CreateSessionTokenRequestPayloadSample'
              RequestWithAccountInformationPayloadSample:
                $ref: '#/components/examples/CreateSessionTokenRequestWithAccountInformationPayloadSample'
      responses:
        '200':
          $ref: '#/components/responses/200-CreateSessionTokenResponsePayloadSamples'
        '401':
          $ref: '#/components/responses/401-AuthenticationErrorPayloadSample'
      x-proxy-name: Create Session
      x-group-name: Security Services
  '/onlinebanklogin/establish':
    post:
      x-proxy-name: Establish
      x-group-name: Online Bank Login
      tags:
        - Online Bank Login
      summary: 'First step in the online bank login process.'
      description: |
        Establish a session for online bank login operation.
      parameters:
        - $ref: '#/components/parameters/contentTypeParam'
        - $ref: '#/components/parameters/apiKeyParam'
        - $ref: '#/components/parameters/timestampParam'
        - $ref: '#/components/parameters/authorizationParam'
        - $ref: '#/components/parameters/clientTokenParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EstablishRequest'
            examples:
              RequestPayloadSample:
                $ref: '#/components/examples/EstablishRequestPayloadSample'
      responses:
        '200':
          $ref: '#/components/responses/200-EstablishResponsePayloadSamples'
        '401':
          $ref: '#/components/responses/401-AuthenticationErrorPayloadSample'
  '/onlinebanklogin/validate':
    post:
      x-proxy-name: Validate
      x-group-name: Online Bank Login
      tags:
        - Online Bank Login
      summary: 'Third step in the online bank login process'
      description: |
        After user has logged into bank account and selected account to used for enrollment/transaction, this call is used to fetch the consumer and/or banking information on file from the bank.
      parameters:
        - $ref: '#/components/parameters/contentTypeParam'
        - $ref: '#/components/parameters/apiKeyParam'
        - $ref: '#/components/parameters/timestampParam'
        - $ref: '#/components/parameters/authorizationParam'
        - $ref: '#/components/parameters/clientTokenParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidateRequest'
            examples:
              RequestPayloadSample:
                $ref: '#/components/examples/ValidateRequestPayloadSample'
      responses:
        '200':
          $ref: '#/components/responses/200-ValidateResponsePayloadSamples'
        '201':
          $ref: '#/components/responses/201-CPAPI_BANK_VALIDATE'
        '202':
          $ref: '#/components/responses/202-CPAPI_BANK_VALIDATE'
        '204':
          $ref: '#/components/responses/204-CPAPI_BANK_VALIDATE'
        '400':
          $ref: '#/components/responses/400-CPAPI_BANK_VALIDATE'
        '401':
          $ref: '#/components/responses/401-ComponentFallbackPayloadSample'
      x-proxy-name: Validate
      x-group-name: Online Bank Login
components:
  parameters:
    apiKeyParam:
      name: Api-Key
      description: An API key is a string value passed by a client app or sdk to the PayByBank. The key uniquely identifies the client app or sdk.
      in: header
      required: true
      schema:
        type: string
    timestampParam:
      name: Timestamp
      description: Epoch timestamp in the request initiating system.
      in: header
      required: true
      schema:
        type: string
    authorizationParam:
      name: Authorization
      description: Authorization information for the request. Format- `HMAC {hmacToken}`. If Client-Token HTTP Header is not passed, this header is mandatory.
      in: header
      required: false
      schema:
        type: string
    clientTokenParam:
      name: Client-Token
      description: This is OAuth token generated by PayByBank security services. If Authorization header is not passed, this header is mandatory.
      in: header
      required: false
      schema:
        type: string
    contentTypeParam:
      name: Content-Type
      description: application/JSON is the only supported type.
      in: header
      required: true
      schema:
        type: string
    corelationIDParam:
      name: corelationID
      description: For server to server partner setup, Merchant Application Server needs to pass the same reference transaction id in this header for transaction tracking or related transactions.
      in: header
      required: false
      schema:
        type: string
    isSecureCallParam:
      name: isSecureCall
      description: For server to server partner setup, Merchant Application Server needs to send value Y in this header.
      in: header
      required: false
      schema:
        type: string
  schemas:
    CPAPIGenericResponse:
      type: object
      properties:
        transactionStatus:
          description: Overall status of the call.
          type: string
          enum:
            - APPROVED
            - DECLINED
            - ERROR
          maxItems: 1
          minItems: 1
          minLength: 5
          maxLength: 8
          nullable: false
        transactionStatusCode:
          type: number
          description: Unique code signifying detailed transaction status.
          maxItems: 1
          minItems: 1
          minLength: 1
          maxLength: 3
          nullable: false
        referenceTransactionID:
          type: string
          description: Unique ID for each Transaction which could be used to trace a transaction. *** It is highly recommended that merchants should store the ID on their side. This can be used for researching the transactions in case issue arises ***
          maxItems: 1
          minItems: 1
          minLength: 37
          maxLength: 42
          nullable: false
        transactionStatusDescription:
          type: string
          description: Short description of statusCode.
          maxItems: 1
          minItems: 1
          minLength: 1
          maxLength: 30
          nullable: true
        responseVerbiage:
          type: string
        nonce:
          type: string
        errorDetails:
          type: array
          items:
            type: object
            properties:
              errorCode:
                type: string
              errorField:
                type: string
              errorReason:
                type: string
        account:
          type: array
          items:
            type: object
            properties:
              accountStatus:
                type: string
              accountStatusDesc:
                type: string
              accountValidationDetails:
                type: array
                items:
                  type: object
                  properties:
                    validationCode:
                      type: string
                    validationCodeDesc:
                      type: string
                    validationCodeStatus:
                      type: string
              userDetails:
                type: object
                properties:
                  firstName:
                    type: string
                  lastName:
                    type: string
                  email:
                    type: string
              userAddressDetails:
                type: object
                properties:
                  street:
                    type: string
                  street2:
                    type: string
                  state:
                    type: string
                  city:
                    type: string
                  postalCode:
                    type: string
              userIdentificationDetails:
                type: object
                properties:
                  routingNumber:
                    type: string
                  accountNumber:
                    type: string
                  onlineBankTransactionId:
                    type: string
                  bankName:
                    type: string
                  connectPayPaymentNumber:
                    type: string
                  corporateAccountFlag:
                    type: string
                  userPhone:
                    type: array
                    items:
                      type: object
                      properties:
                        number:
                          type: string
        teleCheckDetails:
          type: object
          properties:
            transactionId:
              type: string
            tckResponseCode:
              type: string
            approvalCode:
              type: string
            denialRecordNumber:
              type: string
            displayText:
              type: string
            sequenceId:
              type: string
            ecaOfferCode:
              type: string
            achTransactionStatus:
              type: string
            amount:
              type: string
            currency:
              type: string
            responseMessageMisc:
              type: string
            dateTime:
              type: string
            returnCheckFee:
              type: string
            returnCheckNote:
              type: string
            key:
              type: string
            accessId:
              type: string
            merchantId:
              type: string
            description:
              type: string
            merchantReference:
              type: string
            paymentType:
              type: string
            returnUrl:
              type: string
            cancelUrl:
              type: string
            requestSignature:
              type: string
            onlineBankTransactionId:
              type: string
        customer:
          type: object
          properties:
            fdCustomerID:
              type: string
            externalID:
              type: string
        security:
          type: object
          properties:
            tokenID:
              type: string
              description: Token ID associated Public Key generated for SDK initialization.
              maxItems: 1
              minItems: 0
              minLength: 1
              maxLength: 32
              nullable: true
            issuedOn:
              type: number
              description: Date on which the Public Key was issued.
              maxItems: 1
              minItems: 0
              minLength: 1
              maxLength: 15
              nullable: true
            expiresInSeconds:
              type: number
              description: Defines the number of seconds after which the Public Key expires.
              maxItems: 1
              minItems: 0
              minLength: 1
              maxLength: 9
              nullable: true
            publicKey:
              type: string
              description: RSA Public Key to encrypt AES Key and IV.
              maxItems: 1
              minItems: 0
              minLength: 1
              maxLength: 500
              nullable: true
            alogorithm:
              type: string
              description: Encryption algorithm that should be used with the Public Key for doing the field level encryption.
              maxItems: 1
              minItems: 0
              minLength: 1
              maxLength: 40
              nullable: true
            status:
              type: string
              description: Status of the token ID.
              maxItems: 1
              minItems: 0
              minLength: 1
              maxLength: 32
              nullable: true
    CreateSessionTokenRequest:
      type: object
      properties:
        security:
          type: object
          properties:
            publicKeyRequired:
              type: string
              description: Value should be 'true' if RSA public key is being requested
        account:
          description: Account array object is only required in CreateSessionToken call request body only for microDepositValidation, update, close consumer requests. For other requests account section is optional and not required.
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                description: Value "ACH" always needs to be passed in this field.
              fdAccountID:
                type: string
                description: fdAccountID for the consumers account is required in CreateSessionToken call request body only for microDepositValidation, update, close consumer requests. For other requests account section is optional and not required.
    GetPublicKeyRequest:
      type: object
      properties:
        security:
          type: object
          properties:
            publicKeyRequired:
              type: string
              description: Value should be 'true' if RSA public key is being requested
            publicKeyOverridable:
              type: string
              description: This value should only be true if a new long lived public key needs to be generated before the last one has timed out.
    GetDataRequest:
      type: object
      properties:
        customer:
          type: object
          properties:
            fdCustomerID:
              type: string
              description: Consumer’s fdCustomerID generated in response to ProfileAdd request.
        account:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                description: Value "ACH" always needs to be passed in this field.
              fdAccountID:
                type: string
                description: Consumer’s fdAccountID generated in response to Consumer Enrollment.
              fetchAccountDetails:
                type: array
                items:
                  type: object
                  properties:
                    fetch:
                      type: string
                      description: firstName-description
                    masked:
                      type: string
                      description: masked-description
    EstablishRequest:
      type: object
      properties:
        customer:
          type: object
          properties:
            fdCustomerID:
              type: string
              description: Consumer’s fdCustomerID associated with this request.
        account:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                enum:
                  - ACH
                description: Value "ACH" always needs to be passed in this field.
              callType:
                type: string
                description: Defines the type of data pulled from bank. Should be agreed upon value during onboarding of a merchant. Allowable values are "pwmb.getBankInfo", "pwmb.getConsumerInfo", "pwmb.getAll"
              returnUrl:
                type: string
                description: When using a web interface, after the user completes the online bank login service, this url will be loaded to the browser with all the online bank login parameters appended to it.
    ValidateRequest:
      type: object
      properties:
        customer:
          type: object
          properties:
            fdCustomerID:
              type: string
        account:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
              userIdentificationDetails:
                type: object
                properties:
                  onlineBankTransactionId:
                    type: string
              requestSignature:
                type: string
              callType:
                type: string
              oblTransactionType:
                type: string
              merchantReference:
                type: string
              status:
                type: string
              panel:
                type: string
              paymentType:
                type: string
              paymentProviderType:
                type: string
              paymentAccountVerified:
                type: string
              returnUrl:
                type: string
    ProfileAddRequest:
      type: object
      properties:
        customer:
          type: object
          properties:
            externalID:
              type: string
              description: This is the user’s unique identifier in the merchant system.
    EnrollmentRequest:
      type: object
      properties:
        customer:
          type: object
          properties:
            externalID:
              type: string
              description: This is the user’s unique identifier in the merchant system.
            fdCustomerID:
              type: string
              description: Consumer’s fdCustomerID generated in response to ProfileAdd request.
        account:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                description: Value "ACH" always needs to be passed in this field.
              userDetails:
                type: object
                properties:
                  firstName:
                    type: string
                    description: firstName-description
                  lastName:
                    type: string
                    description: lastName-description
                  email:
                    type: string
                    description: email-description
                  gender:
                    type: string
                    description: gender-description
                  dob:
                    type: string
                    description: dob-description
                  memberSince:
                    type: string
                    description: memberSince-description
                  agreedTncVersion:
                    type: string
                    description: agreedTncVersion-description
              userAddressDetails:
                type: object
                properties:
                  street:
                    type: string
                    description: street-description
                  street2:
                    type: string
                    description: street2-description
                  state:
                    type: string
                    description: state-description
                  city:
                    type: string
                    description: city-description
                  country:
                    type: string
                    description: country-description
                  postalCode:
                    type: string
                    description: postalCode-description
              userIdentificationDetails:
                type: object
                properties:
                  routingNumber:
                    type: string
                    description: routingNumber-description
                  accountNumber:
                    type: string
                    description: accountNumber-description
                  connectPayPaymentNumber:
                    type: string
                    description: connectPayPaymentNumber-description
                  corporateAccountFlag:
                    type: string
                    description: corporateAccountFlag-description
                  driverLicenseNumber:
                    type: string
                    description: driverLicenseNumber-description
                  driverLicenseState:
                    type: string
                    description: driverLicenseState-description
                  ssn:
                    type: string
                    description: ssn-description
                  onlineBankTransactionId:
                    type: string
                    description: onlineBankTransactionId-description
                  pin:
                    type: string
                    description: pin-description
              sqnA:
                type: array
                items:
                  type: object
                  properties:
                    securityQuestionId:
                      type: string
                      description: securityQuestionId-description
                    securityQuestion:
                      type: string
                      description: securityQuestion-description
                    securityAnswer:
                      type: string
                      description: securityAnswer-description
              userPhone:
                type: array
                items:
                  type: object
                  properties:
                    type:
                      type: string
                      description: type-description
                    number:
                      type: string
                      description: number-description
                    extension:
                      type: string
                      description: extension-description
                    primary:
                      type: string
                      description: primary-description
              reportingFields:
                type: object
                properties:
                  reportingField1:
                    type: string
                    description: reportingField1-description
                  reportingField2:
                    type: string
                    description: reportingField2-description
                  reportingField3:
                    type: string
                    description: reportingField3-description
              genericCodes:
                type: object
                properties:
                  genericCode1:
                    type: string
                    description: genericCode1-description
                  genericCode2:
                    type: string
                    description: genericCode2-description
                  genericCode3:
                    type: string
                    description: genericCode3-description
              genericFlags:
                type: object
                properties:
                  genericFlag1:
                    type: string
                    description: genericFlag1-description
                  genericFlag2:
                    type: string
                    description: genericFlag2-description
                  genericFlag3:
                    type: string
                    description: genericFlag3-description
              userSysDetails:
                type: object
                properties:
                  ipAddress:
                    type: string
                    description: ipAddress-description
                  trueIpAddress:
                    type: string
                    description: trueIpAddress-description
                  imei:
                    type: string
                    description: imei-description
                  organizationId:
                    type: string
                    description: organizationId-description
                  sessionId:
                    type: string
                    description: sessionId-description
    GetAccountListRequest:
      type: object
      properties:
        customer:
          type: object
          properties:
            fdCustomerID:
              type: string
              description: Consumer’s fdCustomerID generated in response to ProfileAdd request.
    GetAccountDetailsRequest:
      type: object
      properties:
        customer:
          type: object
          properties:
            fdCustomerID:
              type: string
              description: Consumer’s fdCustomerID generated in response to ProfileAdd request.
        account:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                minimum: 3
                maximum: 3
                nullable: false
                description: Type of account.
              fdAccountID:
                type: string
                minimum: 1
                maximum: 50
                description: Consumers fdAccountID associated with this request .Either fdAccountID or connectPaymentNumber is needed.
    ACHPurchaseRequest:
      type: object
      properties:
        partner:
          type: object
          properties:
            subscriberID:
              type: string
              minimum: 1
              maximum: 10
              nullable: false
              description: Transaction Subscriber ID
        customer:
          type: object
          properties:
            fdCustomerID:
              type: string
              minimum: 1
              maximum: 50
              nullable: false
              description: Consumers fdCustomerID associated with this request.
        account:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                minimum: 3
                maximum: 3
                nullable: false
                description: Type of account.
              fdAccountID:
                type: string
                minimum: 1
                maximum: 50
                description: Consumers fdAccountID associated with this request .Either fdAccountID or connectPaymentNumber is needed.
              userIdentificationDetails:
                type: object
              transactionDetails:
                type: object
                properties:
                  amount:
                    type: number
                    nullable: false
                    description: Processed Amount in cents. 1299 = $12.99.
                  currencyCode:
                    type: string
                    minimum: 3
                    maximum: 3
                    nullable: false
                    description: USD - Only supports US Dollars.
                  merchantTransactionId:
                    type: string
                    minimum: 1
                    maximum: 100
                    nullable: false
                    description: Merchant's unique transaction ID. Required to process secondary transactions like void and refund. For Authorize/Capture transactions, merchant_transaction_id submitted during Capture transactions will be required to process void and refund requests.
                  recurringPayment:
                    type: string
                    minimum: 1
                    maximum: 1
                    nullable: true
                    description: S or Null = Single/non-recurring Payment (one time sale) R = Recurring Payment. Required when submitting recurring/bill payment transactions.
                  creditDebitIndicator:
                    type: string
                    minimum: 1
                    maximum: 1
                    nullable: true
                    description: D=Debit is used for all purchase/sale use cases. If no value is sent we will default it to D to Debit.
              userSysDetails:
                type: object
                properties:
                  organizationId:
                    type: string
                    minimum: 0
                    maximum: 128
                    nullable: true
                    description: Organization ID used for device fingerprinting services.
                  sessionId:
                    type: string
                    minimum: 1
                    maximum: 128
                    nullable: true
                    description: Session ID used for device fingerprinting services.
    ACHAuthorizeRequest:
      type: object
      properties:
        partner:
          type: object
          properties:
            subscriberID:
              type: string
              minimum: 1
              maximum: 10
              nullable: false
              description: Transaction Subscriber ID
        customer:
          type: object
          properties:
            fdCustomerID:
              type: string
              minimum: 1
              maximum: 50
              nullable: false
              description: Consumers fdCustomerID associated with this request.
        account:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                minimum: 3
                maximum: 3
                nullable: false
                description: Type of account.
              fdAccountID:
                type: string
                minimum: 1
                maximum: 50
                description: Consumers fdAccountID associated with this request .Either fdAccountID or connectPaymentNumber is needed.
              userIdentificationDetails:
                type: object
              transactionDetails:
                type: object
                properties:
                  amount:
                    type: number
                    nullable: false
                    description: Processed Amount in cents. 1299 = $12.99.
                  currencyCode:
                    type: string
                    minimum: 3
                    maximum: 3
                    nullable: false
                    description: USD - Only supports US Dollars.
                  pinData:
                    type: string
                    minimum: 1
                    maximum: 32
                    nullable: true
                    description: This is the encrypted pin block for validating the transaction.
                  merchantTransactionId:
                    type: string
                    minimum: 1
                    maximum: 100
                    nullable: false
                    description: Merchant's unique transaction ID. Required to process secondary transactions like void and refund. For Authorize/Capture transactions, merchant_transaction_id submitted during Capture transactions will be required to process void and refund requests.
                  recurringPayment:
                    type: string
                    minimum: 1
                    maximum: 1
                    nullable: true
                    description: S or Null = Single/non-recurring Payment (one time sale) R = Recurring Payment. Required when submitting recurring/bill payment transactions.
                  creditDebitIndicator:
                    type: string
                    minimum: 1
                    maximum: 1
                    nullable: true
                    description: D=Debit is used for all purchase/sale use cases. If no value is sent we will default it to D to Debit.
                  splitShipmentFlag:
                    type: string
                    minimum: 1
                    maximum: 1
                    nullable: true
                    description: Optional field denoting that this is a Split Shipment Original Authorization. The Authorization life will be counted from the time of this transaction and the Authorization Range will be based on the Amount of this transaction.
                  productCode:
                    type: string
                    minimum: 1
                    maximum: 6
                    nullable: true
                    description: Product code identifies the highest ticket item in the purchase and is used in the risk analysis of the transaction. Value should be unsigned numeric.
              userSysDetails:
                type: object
                properties:
                  organizationId:
                    type: string
                    minimum: 0
                    maximum: 128
                    nullable: true
                    description: Organization ID used for device fingerprinting services.
                  sessionId:
                    type: string
                    minimum: 1
                    maximum: 128
                    nullable: true
                    description: Session ID used for device fingerprinting services.
  examples:
    CreateSessionTokenRequestPayloadSample:
      value:
        security:
          publicKeyRequired: true
    CreateSessionTokenRequestWithAccountInformationPayloadSample:
      value:
        security:
          publicKeyRequired: true
        account:
          - type: ACH
            fdAccountID: CPlgPO15804795190661084P4u9zY
    GetPublicKeyPayloadSample:
      value:
        security:
          publicKeyRequired: true
          publicKeyOverridable: false
    GetPublicKeyWithOverridePayloadSample:
      value:
        security:
          publicKeyRequired: true
          publicKeyOverridable: true
    GetDataPayloadSample:
      value:
        customer:
          fdCustomerID : CPX8lY16074639744570000921EKCfWM
        account:
          - type: ACH
            fdAccountID: CPX8lY1607463998985721BKCeBf
            fetchAccountDetails:
              - fetch: getAllDetails
                masked: N
    EstablishRequestPayloadSample:
      value:
        account:
          - type: ACH
            callType: pwmb.getAll
            returnUrl: https://qa.api.firstdata.com/gateway/v2/connectpay/static/v1/build/index.html#/CPBankOnlyWidget/
        customer:
          fdCustomerID: CPHZ5J15829135992040000839bCQExj
    ValidateRequestPayloadSample:
      value:
        customer:
          fdCustomerID : CPX8lY15653275885410000003vPLqiF
        account:
          - type: ACH
            userIdentificationDetails:
            onlineBankTransactionId: 1002536270
            requestSignature: QCXCovlWAGq/OmyDAl7pcAmK+ek=
            callType : pwmb.getAll
            oblTransactionType: 1
            merchantReference: 1961
            status: 2
            panel: 1
            paymentType: 6
            paymentProviderType: 1
            paymentAccountVerified: true
            returnUrl: https://cat.api.firstdata.com/gateway/v2/connectpay/static/v1/build/index.html#/CPBankOnlyWidget/
    ProfileAddPayloadSample:
      value:
        customer:
          externalID : Merchant01Consumer65746635
    EnrollmentPayloadSample:
      value:
        customer:
          fdCustomerID : CP87rx15814147322210000442tJpajq
        account:
          - type: ACH
            userDetails:
              firstName: Harry
              lastName: Smith
              email: harry.smith@firstdata.com
              gender: M
              dob: 19001010
              memberSince: 19001010
              agreedTncVersion: v1
            userAddressDetails:
              street: 7979 Westheimer
              street2: APT 229
              state: TX
              city: Houston
              country: 840
              postalCode: 77063
            userIdentificationDetails:
              routingNumber: "141313134"
              accountNumber: "4444444444"
              connectPayPaymentNumber: ""
              corporateAccountFlag: personal_check
              driverLicenseNumber: "85123430"
              driverLicenseState: TX
              ssn: "123456789"
              onlineBankTransactionId: ""
              pin: "1234"
            sqnA:
              - securityQuestionId: "1234"
                securityQuestion: What is the name of your pet dog ?
                securityAnswer: Bingo
            userPhone:
              - type: MOBILE
                number: "1234567890"
                extension: ""
                primary: "Y"
              - type: HOME
                number: "2234567890"
                extension: ""
                primary: "N"
              - type: BUSINESS
                number: "3234567890"
                extension: "1234"
                primary: "N"
            reportingFields:
              reportingField1: "123"
              reportingField2: "456"
              reportingField3: "789"
            genericCodes:
              genericCode1: "1"
              genericCode2: "2"
              genericCode3: "3"
            genericFlags:
              genericFlag1: "F"
              genericFlag2: "Y"
              genericFlag3: "Z"
            userSysDetails:
              ipAddress: "10.10.10.10"
              trueIpAddress: "11.11.11.11"
              imei: "548624521256523"
              organizationId: Ozvk1dz
              sessionId: jhgd87f658adbasjhbdas765d
    GetAccountListPayloadSample:
      value:
        customer:
          fdCustomerID : CP87rx15814147322210000442tJpajq
    GetAccountDetailsPayloadSample:
      value:
        customer:
          fdCustomerID : CP0hCA15819809713750000745a2K9go
        account:
          - type: ACH
            fdAccountID: CP0hCA1583183750214467CFr5aq
    ACHPurchaseRequestPayloadSample:
      value:
        partner:
          subscriberID : "36005712"
        customer:
          fdCustomerID : "CP1GWQ15714334637260000266MNpu7Q"
        account:
          - type: "ACH"
            userIdentificationDetails: {}
            transactionDetails:
              amount: 1050
              currencyCode: "USD"
              merchantTransactionId : "17021542392"
              recurringPayment: R
              creditDebitIndicator: D
              productCode: 770100
            userSysDetails:
              organizationId: s0b500qh
              sessionId: 3ca6ee0408028f118f102ed0b64779353789ebe3
    ACHAuthorizeRequestPayloadSample:
      value:
        partner:
          subscriberID : "36005712"
        customer:
          fdCustomerID : "CP1GWQ15714334637260000266MNpu7Q"
        account:
          - type: "ACH"
            userIdentificationDetails: {}
            transactionDetails:
              amount: 1050
              currencyCode: "USD"
              pinData: ""
              merchantTransactionId : "17021542392"
              recurringPayment: R
              creditDebitIndicator: D
              splitShipmentFlag: "Y"
              productCode: 770100
            userSysDetails:
              organizationId: s0b500qh
              sessionId: 3ca6ee0408028f118f102ed0b64779353789ebe3

  responses:
    200-CreateSessionTokenResponsePayloadSamples:
      description: |
        ### HTTP 200 Response.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CPAPIGenericResponse'
          examples:
            ResponsePayloadSample-Approved:
              value:
                transactionStatus: APPROVED
                transactionStatusCode: 0
                referenceTransactionID: 0021-039d7190-069a-cde1-3043-de622362f15e
                transactionStatusDescription: OK
                security:
                  tokenID: 5m1ew614uiwStDegPq48MSA9ej5E
                  issuedOn: 1683296193218
                  expiresInSeconds: 899
                  publicKey: MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAo8jR693ueb0BGPasFMf1V9QP6VpElKu1x/Qpu8M4DhX0o0VimgAd3TY0TPAK6Tl+DkkC0ana1u/NjEVomoZXP15jWEBSFG2DciiMPLtzbvrobwdmWnWQHSX9licUb5jf0fOKe2gx7q0CY095+SkVjytnQGdc315WYMMo/a1EUXzFhy1ZMkj6riZ+wEneQITsN1haKqS6Q6wQMBjHBrsFomaU2qPrnlrpuZjXUP5rt5+CYCGdwLEiCGNGe47tqP48Yk3snn+yVdPWnOfuz5aG3dNdteV5zVhMkVGIdmrJTgAh1auCOxNc44GTGo3rQn9WD5p4Lo8aLGkyHjv3kmvDLQIDAQAB
                  algorithm: RSA/None/OAEPWithSHA512AndMGF1Padding
                  status: ACTIVE
            ResponsePayloadSample-Declined:
              value:
                transactionStatus: DECLINED
                transactionStatusCode: 450
                referenceTransactionID: 0021-24efedc1-8764-b930-7f84-47ce4b463433
                transactionStatusDescription: Partner Not Found
                errorDetails:
                  errorCode: 4550
                  errorField: PartnerID
                  errorReason: PartnerID not Found
            ResponsePayloadSample-Error:
              value:
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: 0021-24efedc1-8764-b930-7f84-47ce4b463433
                transactionStatusDescription: Input is invalid
                errorDetails:
                  errorCode: 1060
                  errorField: Content-Type
                  errorReason: Required Header field is missing
    401-AuthenticationErrorPayloadSample:
      description: |
        ### HTTP 401 Response.
        #### Authentication error. Probably due to incorrect Authorization header calculation.
    200-GetPublicKeyResponsePayloadSamples:
      description: |
        ### HTTP 200 Response.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CPAPIGenericResponse'
          examples:
            ResponsePayloadSample-Approved:
              value:
                transactionStatus: APPROVED
                transactionStatusCode: 0
                referenceTransactionID: 0021-ea52bf08-1829-4d1a-99bb-24d689c57400
                transactionStatusDescription: OK
                security:
                  issuedOn: "2024-01-20T20:37:14.167049733Z"
                  expiresInSeconds: 31622400
                  publicKey: MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAofzBBruWDxHCbSJaWY4hq8THqo/MxrRCMhJlDg45MIFoQe7UaX84DlzMOfTyUmwAy7sOoKIz9SIEOknOgrIOks37gsPYivkgHxbkr1Z7cGgQy8qZTPk5/8QH4M/SJTx8hpGF56NLRNcvgm1bvpmgfg9KwvxvIHDT/7lS7TxLkbO+WPe+OtljovYivRMPJJSoBrtTHmCO4ep3ipYFxrAkSGmeBQANsza7/g7nI8kt23w6C9TDRfoVdsgY56IcH69GqqVKI6kRVmKauxWdCUrfbY516zD8tt1THn5196Xjgo/oCHYk5JEuznWhqueTiO5SkSB6bvj8hnNZYrB4Uhd8KwIDAQAB
                  algorithm: RSA/None/OAEPWithSHA512AndMGF1Padding
                  status: ACTIVE
            ResponsePayloadSample-Declined:
              value:
                transactionStatus: DECLINED
                transactionStatusCode: 450
                referenceTransactionID: 0021-24efedc1-8764-b930-7f84-47ce4b463433
                transactionStatusDescription: Partner Not Found
                errorDetails:
                  errorCode: 4550
                  errorField: PartnerID
                  errorReason: PartnerID not Found
            ResponsePayloadSample-Error:
              value:
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: 0021-24efedc1-8764-b930-7f84-47ce4b463433
                transactionStatusDescription: Input is invalid
                errorDetails:
                  errorCode: 1060
                  errorField: Content-Type
                  errorReason: Required Header field is missing
    401-GetPublicKeyResponsePayloadSample:
      description: |
        ### HTTP 401 Response.
        #### Authentication error. Probably due to incorrect Authorization header calculation.
    200-EstablishResponsePayloadSamples:
      description: The request cannot be validated.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CPAPIGenericResponse'
          examples:
            ResponsePayloadSample-Approved:
              value:
                transactionStatus: APPROVED
                transactionStatusCode: 0
                referenceTransactionID: 186ad875-1695-3254-68a4-b578034b94e7
                transactionStatusDescription: OK
                teleCheckDetails:
                  amount: 0.00
                  currency: USD
                  accessId: RqBNyqzgTVGhmvyV74NM
                  merchantId: 1001200367
                  description: TCK_PWMB Call
                  merchantReference: 18096
                  paymentType: Retrieval
                  returnUrl: https://cat.api.firstdata.com/gateway/v2/connectpay/static/v1/build/index.html#/CPBankOnlyWidget/
                  cancelUrl: https://cat.api.firstdata.com/gateway/v2/connectpay/static/v1/build/index.html#/CPBankOnlyWidget/
                  requestSignature: 76XVsxZbD9BGJQWRWgWeEPs7V5M=
                customer:
                  fdCustomerID: CP0hCA15725561636040000017vlLFeL
            ResponsePayloadSample-Declined:
              value:
                transactionStatus: DECLINED
                transactionStatusCode: 401
                referenceTransactionID: 24efedc1-8764-b930-7f84-47ce4b463433
                transactionStatusDescription: Unauthorize
                responseVerbiage: Unauthorize
                errorDetails:
                  errorCode: 4550
                  errorField: PartnerID
                  errorReason: Partner is not opt for this service
            ResponsePayloadSample-Error:
              value:
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: 97dd7979-8fa4-9e80-75df-4bb6924863ae
                transactionStatusDescription: Input is invalid
                responseVerbiage: Input is invalid
                errorDetails:
                  errorCode: 1035
                  errorField: CallType
                  errorReason: Required field is missing
    200-ValidateResponsePayloadSamples:
      description: The request cannot be validated.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CPAPIGenericResponse'
          examples:
            ResponsePayloadSample-Approved:
              value:
                transactionStatus: APPROVED
                transactionStatusCode: 0
                referenceTransactionID: 5cdd1d99-5367-ed98-56fd-3f52ab008ac8
                transactionStatusDescription: OK
                customer:
                  fdCustomerID: CPX8lY15653275885410000003vPLqiF
                account:
                  - userDetails:
                      firstName: John
                      lastName: Smith
                      email: john123@fiserv.com
                    userAddressDetails:
                      street: 763 Robin Street
                      street2: Donbosco Lane
                      state: Whayend
                      city: DJSOO
                      postalCode: 70923
                    userIdentificationDetails:
                      routingNumber: "*****3116"
                      accountNumber: "*****6576"
                      onlineBankTransactionId: 1002536270
                    userPhone:
                      - number : 9876543212
            ResponsePayloadSample-Declined:
              value:
                transactionStatus: DECLINED
                transactionStatusCode: 440
                referenceTransactionID: b1d05ce3-a6d3-7973-be96-59cb6941b023
                transactionStatusDescription: Other Telecheck Decline
                errorDetails: 
                  errorCode: 4410
                  errorField: OnlineBankTransactionId
                  errorReason: Field contained a bad value
            ResponsePayloadSample-Error:
              value:
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: e8ab47a2-520a-5d33-4e03-253e19e257cb
                transactionStatusDescription: Input is invalid 
                errorDetails: 
                  errorCode: 1010
                  errorField: externalID
                  errorReason: Field did not have a valid format
            1020-externalID:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: 02e34833-59b9-8787-5d5d-8dad20e14288
                transactionStatusDescription: Input is invalid
                errorDetails: 
                  errorCode: 1020
                  errorField: externalID
                  errorReason: Field contained a bad value
            1030-externalID:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: 691b65e6-72b9-94d0-a8b8-b4e01823667d
                transactionStatusDescription: Input is invalid 
                errorDetails: 
                  errorCode: 1030
                  errorField: externalID
                  errorReason: Required field did not have a value
            1035-externalID:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: d2bdd7e0-62e9-5886-39a9-6dd915b1208d
                transactionStatusDescription: Input is invalid 
                errorDetails: 
                  errorCode: 1035
                  errorField: externalID
                  errorReason: Required field is missing
            1035-PassPhase:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: 7c2a2d1d-5e7d-e83e-0670-12cbde98c3a6
                transactionStatusDescription: Input is invalid
                errorDetails: 
                  errorCode: 1035
                  errorField: PassPhase
                  errorReason: Required field is missing
            1035-InitializationVector:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: d7d56946-1967-d841-03ed-88c013e20dd8
                transactionStatusDescription: Input is invalid
                errorDetails: 
                  errorCode: 1035
                  errorField: InitializationVector
                  errorReason: Required field is missing
            1040-customer:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: 2a65916d-412d-7596-9c4c-b24b9b646298
                transactionStatusDescription: Input is invalid
                errorDetails: 
                  errorCode: 1040
                  errorField: customer
                  errorReason: Required block did not have a value
            1045-customer:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: 2853bd31-5268-3b8e-aa7c-4e9dce20b1c9
                transactionStatusDescription: Input is invalid
                errorDetails: 
                  errorCode: 1045
                  errorField: customer
                  errorReason: Required block is missing
            1060-PartnerID:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: 2b9c1073-6329-4dc5-3933-ee201c3ba660
                transactionStatusDescription: Input is invalid 
                errorDetails: 
                  errorCode: 1060
                  errorField: PartnerID
                  errorReason: Required Header Field is missing
            1060-SubscriberId:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: e3769c3b-7902-c940-33d8-e6ec87012d68
                transactionStatusDescription: Input is invalid 
                errorDetails: 
                  errorCode: 1060
                  errorField: SubscriberId
                  errorReason: Required Header Field is missing
            1060-Client-Token:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: 45c52543-9779-733d-72ce-bc10a11deecd
                transactionStatusDescription: Input is invalid 
                errorDetails: 
                  errorCode: 1060
                  errorField: Client-Token
                  errorReason: Required Header Field is missing
            4500-PartnerID:
              value: 
                transactionStatus: DECLINED
                transactionStatusCode: 450
                referenceTransactionID: 75888645-a981-39b3-8a59-3234d112a594
                transactionStatusDescription: Partner Not Found
                errorDetails: 
                  errorCode: 4500
                  errorField: PartnerID
                  errorReason: PartnerID not Found
    401-CPAPI_CUSTOMER_ADD:
      description: | 
        Unauthorized
      content: 
        application/json: 
          schema: 
            $ref: '#components/schemas/CPAPIGenericResponse'
          examples: 
            4550-PartnerID:
              value: 
                transactionStatus: DECLINED
                transactionStatusCode: 401
                referenceTransactionID: 4a548be5-d3b0-c37c-8a09-4b005e84dcd3
                transactionStatusDescription: Unauthorize
                errorDetails: 
                  errorCode: 4550
                  errorField: PartnerID
                  errorReason: Partner is not opt for this service
    403-CPAPI_CUSTOMER_ADD:
      description: | 
        Forbidden
    409-CPAPI_CUSTOMER_ADD:
      description: | 
        Indicates a conflict with the current state of a resource
    500-CPAPI_CUSTOMER_ADD:
      description: | 
        An unexpected server error occured
      content: 
        application/json: 
          schema: 
            $ref: '#components/schemas/CPAPIGenericResponse'
          examples: 
            5120-UCOMM_CUSTOMER_ADD:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 500
                referenceTransactionID: db214a8d-04c0-4cab-9c33-d0aa68a3902a
                transactionStatusDescription: General Error
                errorDetails: 
                  errorCode: 5120
                  errorField: UCOMM_CUSTOMER_ADD
                  errorReason: Please try again after some time, If issue persist please contact customer support
    #This is the start of enrollment
    200-EnrollmentResponsePayloadSamples:
      description: Success
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CPAPIGenericResponse'
          examples:
            ResponsePayloadSample-Approved:
              value:
                transactionStatus: APPROVED
                transactionStatusCode: "70"
                referenceTransactionID: 03978cc3-db3a-47aa-8b64-ca1db28ec77c
                transactionStatusDescription: Created
                responseVerbiage: Your enrollment is approved but pending bank account validation. You should receive a welcome email from our company with the next steps to validate and activate your account.
                nonce: 9E5048FAAA900394E0530AAE3307E7A6408
                teleCheckDetails:
                  transactionId: "1400099000000000011052"
                  tckResponseCode: "07"
                  approvalCode: "7350"
                  displayText: "APPROVED 1414"
                  sequenceId: "0"
                  ecaOfferCode: "Y"
                customer:
                  fdCustomerID: CP87rx15814147322210000442tJpajq
                account:
                  - accountStatus: "70"
                    accountStatusDesc: PENDING_VALIDATIONS
                    accountValidationDetails:
                      - validationCode: "10"
                        validationCodeDesc: Bank Validation Status
                        validationCodeStatus: PENDING
    201-CPAPI_ENROLLMENT:
      description: | 
        The request was successfully fulfilled and resulted in one or multiple new resources being created
    202-CPAPI_ENROLLMENT:
      description: | 
        The request has been accepted for processing, but the processing has not been finished yet
    204-CPAPI_ENROLLMENT:
      description: | 
        The request has succeeded, but the client doesn't need to navigate away from its current page
    400-CPAPI_ENROLLMENT:
      description: | 
        Bad request
      content: 
        application/json: 
          schema: 
            $ref: '#components/schemas/CPAPIGenericResponse'
          examples: 
            1010-fdCustomerID:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: de29b7ac-4e8b-a605-48e4-1c2c1754d984
                transactionStatusDescription: Input is invalid 
                errorDetails: 
                  errorCode: 1010
                  errorField: fdCustomerID
                  errorReason: Field did not have a valid format
            1010-type:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: 20b10e89-de90-ebc9-d846-48c32a165ec7
                transactionStatusDescription: Input is invalid 
                errorDetails: 
                  errorCode: 1010
                  errorField: type
                  errorReason: Field did not have a valid format
            1010-securityQuestionId:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: e4e8ddd4-7e73-2bc8-80d4-3043ba129b62
                transactionStatusDescription: Input is invalid 
                errorDetails: 
                  errorCode: 1010
                  errorField: securityQuestionId
                  errorReason: Field did not have a valid format
            1010-securityQuestion:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: aa7349d7-d714-1ee2-b5d9-372bd98543a6
                transactionStatusDescription: Input is invalid 
                errorDetails: 
                  errorCode: 1010
                  errorField: securityQuestion
                  errorReason: Field did not have a valid format
            1010-securityAnswer:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: 699ae9db-4063-b3e4-22e2-909d9bbdbba1
                transactionStatusDescription: Input is invalid 
                errorDetails: 
                  errorCode: 1010
                  errorField: securityAnswer
                  errorReason: Field did not have a valid format
            1010-PassPhase:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: 04e535b4-c836-40c9-745b-90422e712cb5
                transactionStatusDescription: Input is invalid
                errorDetails: 
                  errorCode: 1010
                  errorField: PassPhase
                  errorReason: Field did not have a valid format
            1010-InitializationVector:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: 33950eb7-e1ea-55d0-ca72-ae3574297cc2
                transactionStatusDescription: Input is invalid
                errorDetails: 
                  errorCode: 1010
                  errorField: InitializationVector
                  errorReason: Field did not have a valid format
            1010-partnerId:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: 2396bdce-7ea5-d37a-d1e5-1727bb43846d
                transactionStatusDescription: Input is invalid 
                errorDetails: 
                  errorCode: 1010
                  errorField: partnerId
                  errorReason: Field did not have a valid format
            1010-supplementalId:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: 1ed9190a-4821-1e90-e0bb-3d599ac5a293
                transactionStatusDescription: Input is invalid 
                errorDetails: 
                  errorCode: 1010
                  errorField: supplementalId
                  errorReason: Field did not have a valid format
            1020-fdCustomerID:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: 6b44714e-d032-70d4-3c2e-0934aba300b3
                transactionStatusDescription: Input is invalid 
                errorDetails: 
                  errorCode: 1020
                  errorField: fdCustomerID
                  errorReason: Field contained a bad value
            1020-type:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: 88081e38-eecd-5725-4b58-e02edb5a509d
                transactionStatusDescription: Input is invalid 
                errorDetails: 
                  errorCode: 1020
                  errorField: type
                  errorReason: Field contained a bad value
            1020-PassPhase:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: d6d50c40-c3e0-bbaa-1180-e803e567c647
                transactionStatusDescription: Input is invalid
                errorDetails: 
                  errorCode: 1020
                  errorField: PassPhase
                  errorReason: Field contained a bad value
            1020-InitializationVector:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: c4b64018-1389-c78a-37c6-d267c6717568
                transactionStatusDescription: Input is invalid
                errorDetails: 
                  errorCode: 1020
                  errorField: InitializationVector
                  errorReason: Field contained a bad value
            1030-fdCustomerID:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: 6a110566-9894-6ed3-a495-c9c7548550c0
                transactionStatusDescription: Input is invalid 
                errorDetails: 
                  errorCode: 1030
                  errorField: fdCustomerID
                  errorReason: Required field did not have a value
            1030-type:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: d303911e-a4de-01c8-a4db-1642064743e9
                transactionStatusDescription: Input is invalid 
                errorDetails: 
                  errorCode: 1030
                  errorField: type
                  errorReason: Required field did not have a value
            1030-securityQuestionId:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: 07eeddcc-761b-434a-c2ab-93e26aae3c13
                transactionStatusDescription: Input is invalid 
                errorDetails: 
                  errorCode: 1030
                  errorField: securityQuestionId
                  errorReason: Required field did not have a value
            1030-securityQuestion:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: 18e6ec19-340d-58ae-19e5-b23795e98744
                transactionStatusDescription: Input is invalid 
                errorDetails: 
                  errorCode: 1030
                  errorField: securityQuestion
                  errorReason: Required field did not have a value
            1030-securityAnswer:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: 648196b0-86e4-e288-05bd-162346125692
                transactionStatusDescription: Input is invalid 
                errorDetails: 
                  errorCode: 1030
                  errorField: securityAnswer
                  errorReason: Required field did not have a value
            1030-PassPhase:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: 1e2bb206-bd2a-6c03-b277-1d803e85251b
                transactionStatusDescription: Input is invalid
                errorDetails: 
                  errorCode: 1030
                  errorField: PassPhase
                  errorReason: Required field did not have a value
            1030-InitializationVector:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: ac34a106-31ae-8d29-e9ac-6526983e2b7e
                transactionStatusDescription: Input is invalid
                errorDetails: 
                  errorCode: 1030
                  errorField: InitializationVector
                  errorReason: Required field did not have a value
            1030-aggregatorTransactionId:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: 8588e283-098c-8502-c308-20c530d84edc
                transactionStatusDescription: Input is invalid 
                errorDetails: 
                  errorCode: 1030
                  errorField: aggregatorTransactionId
                  errorReason: Required field did not have a value
            1035-fdCustomerID:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: de3a9b5a-ae56-aa5d-75c5-e9be8babb2bb
                transactionStatusDescription: Input is invalid 
                errorDetails: 
                  errorCode: 1035
                  errorField: fdCustomerID
                  errorReason: Required field is missing
            1035-type:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: 6ba61138-05a9-8350-e662-33acb2047ebd
                transactionStatusDescription: Input is invalid 
                errorDetails: 
                  errorCode: 1035
                  errorField: type
                  errorReason: Required field is missing
            1035-securityQuestionId:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: bc7371bb-798d-bb14-31a8-49538c7993ea
                transactionStatusDescription: Input is invalid 
                errorDetails: 
                  errorCode: 1035
                  errorField: securityQuestionId
                  errorReason: Required field is missing
            1035-securityQuestion:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: b0405e47-15dc-4517-a515-25a43a523588
                transactionStatusDescription: Input is invalid 
                errorDetails: 
                  errorCode: 1035
                  errorField: securityQuestion
                  errorReason: Required field is missing
            1035-securityAnswer:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: 76ce1d8a-744d-e0ae-c71c-4ceb73491c10
                transactionStatusDescription: Input is invalid 
                errorDetails: 
                  errorCode: 1035
                  errorField: securityAnswer
                  errorReason: Required field is missing
            1035-PassPhase:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: 10b54631-805e-c5d7-0aa9-68d27e9e0148
                transactionStatusDescription: Input is invalid
                errorDetails: 
                  errorCode: 1035
                  errorField: PassPhase
                  errorReason: Required field is missing
            1035-InitializationVector:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: 2b05a16c-dbca-9886-0d5b-bdcb8bc43687
                transactionStatusDescription: Input is invalid
                errorDetails: 
                  errorCode: 1035
                  errorField: InitializationVector
                  errorReason: Required field is missing
            1040-account:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: 8a91ad24-88c8-a602-ab1b-6a76ce107d69
                transactionStatusDescription: Input is invalid 
                errorDetails: 
                  errorCode: 1040
                  errorField: account
                  errorReason: Required block did not have a value
            1040-customer:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: 84b69870-cbb6-2485-d441-42d90d6a3b99
                transactionStatusDescription: Input is invalid 
                errorDetails: 
                  errorCode: 1040
                  errorField: customer
                  errorReason: Required block did not have a value
            1045-account:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: 0d4eb203-8094-28b5-5b44-0a7e491b1ec7
                transactionStatusDescription: Input is invalid 
                errorDetails: 
                  errorCode: 1045
                  errorField: account
                  errorReason: Required block is missing
            1045-customer:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: e67d7a59-ddc9-0752-eab5-b36a8408dce0
                transactionStatusDescription: Input is invalid 
                errorDetails: 
                  errorCode: 1045
                  errorField: customer
                  errorReason: Required block is missing
            1060-PartnerID:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: a2de9b92-a04b-c56d-a063-82318b42d1c0
                transactionStatusDescription: Input is invalid 
                errorDetails: 
                  errorCode: 1060
                  errorField: PartnerID
                  errorReason: Required Header Field is missing
            1060-SubscriberId:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: b6065b1c-a343-c63e-d290-bc29a1d08839
                transactionStatusDescription: Input is invalid 
                errorDetails: 
                  errorCode: 1060
                  errorField: SubscriberId
                  errorReason: Required Header Field is missing
            1060-Client-Token:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: d1245437-94e0-0042-6eb2-eac4cde76518
                transactionStatusDescription: Input is invalid 
                errorDetails: 
                  errorCode: 1060
                  errorField: Client-Token
                  errorReason: Required Header Field is missing
            1080-account:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: a8404b6a-9776-0dd0-d022-c317c1ea6636
                transactionStatusDescription: Input is invalid 
                errorDetails: 
                  errorCode: 1080
                  errorField: account
                  errorReason: Block contain values more than that is allowed
            2210-fdCustomerID:
              value: 
                transactionStatus: DECLINED
                transactionStatusCode: 140
                referenceTransactionID: ba91256a-cbb2-7260-2010-6830c91c6288
                transactionStatusDescription: The Customer has already enrolled the maximum allowable number of accounts
                errorDetails: 
                  errorCode: 2210
                  errorField: fdCustomerID
                  errorReason: The Customer has already enrolled the maximum allowable number of accounts.
            2220-fdCustomerID:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 140
                referenceTransactionID: 7295ae18-495a-16b2-0d3c-40ba246c9897
                transactionStatusDescription: Customer profile not found
                errorDetails: 
                  errorCode: 2220
                  errorField: fdCustomerID
                  errorReason: Customer profile not found
            400-nan:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 400
                referenceTransactionID: 8d438676-86c3-1bd9-02a2-12437370840a
                transactionStatusDescription: Bad Request
                errorDetails: 
                  errorCode: 400
                  errorField: nan
                  errorReason: Bad Request. Either required parameters are missing or message Format is incorrect
            4250-Client-Token:
              value: 
                transactionStatus: DECLINED
                transactionStatusCode: 420
                referenceTransactionID: 3e728538-1975-1316-88ac-04bd4c56d199
                transactionStatusDescription: Unauthorized
                errorDetails: 
                  errorCode: 4250
                  errorField: Client-Token
                  errorReason: Session time out
            4500-PartnerID:
              value: 
                transactionStatus: DECLINED
                transactionStatusCode: 450
                referenceTransactionID: 809e4db4-353e-80e7-2a86-82abd450c376
                transactionStatusDescription: Partner Not Found
                errorDetails: 
                  errorCode: 4500
                  errorField: PartnerID
                  errorReason: PartnerID not Found
    401-CPAPI_ENROLLMENT:
      description: | 
        Unauthorized
      content: 
        application/json: 
          schema: 
            $ref: '#components/schemas/CPAPIGenericResponse'
          examples: 
            401-nan:
              value: 
                transactionStatus: 
                transactionStatusCode: 401
                referenceTransactionID: 2229da04-ae59-c994-d927-d0de759bbb6d
                transactionStatusDescription: Unauthorized
                errorDetails: 
                  errorCode: 401
                  errorField: nan
                  errorReason: Unauthorized
            4550-PartnerID:
              value: 
                transactionStatus: DECLINED
                transactionStatusCode: 401
                referenceTransactionID: c896017d-5bec-9aa9-46b6-035590033772
                transactionStatusDescription: Unauthorize
                errorDetails: 
                  errorCode: 4550
                  errorField: PartnerID
                  errorReason: Partner is not opt for this service
    403-CPAPI_ENROLLMENT:
      description: | 
        Forbidden
    409-CPAPI_ENROLLMENT:
      description: | 
        Indicates a conflict with the current state of a resource
      content: 
        application/json: 
          schema: 
            $ref: '#components/schemas/CPAPIGenericResponse'
          examples: 
            4920-ConnectPayPaymentNumber:
              value: 
                transactionStatus: DECLINED
                transactionStatusCode: 409
                referenceTransactionID: 86d5501a-ae44-86ba-3773-4dc002110ac8
                transactionStatusDescription: Conflict
                errorDetails: 
                  errorCode: 4920
                  errorField: ConnectPayPaymentNumber
                  errorReason: ConnectPayPaymentNumber is already enrolled
    500-CPAPI_ENROLLMENT:
      description: | 
        An unexpected server error occured
      content: 
        application/json: 
          schema: 
            $ref: '#components/schemas/CPAPIGenericResponse'
          examples: 
            5110-UCOMM_CLEAR_DATA:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 500
                referenceTransactionID: a1b22561-8107-1ae8-2831-3453242242bc
                transactionStatusDescription: General Error
                errorDetails: 
                  errorCode: 5110
                  errorField: UCOMM_CLEAR_DATA
                  errorReason: Please try again after some time, If issue persist please contact customer support
            5130-UCOMM_ADD:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 500
                referenceTransactionID: 8818a789-29a6-3d04-0e3e-5a66201c2468
                transactionStatusDescription: General Error
                errorDetails: 
                  errorCode: 5130
                  errorField: UCOMM_ADD
                  errorReason: Please try again after some time, If issue persist please contact customer support
            5140-UCOMM_GET_ALL_ACCOUNT:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 500
                referenceTransactionID: 209e5004-1d10-234c-0ab5-c2082ca62433
                transactionStatusDescription: General Error
                errorDetails: 
                  errorCode: 5140
                  errorField: UCOMM_GET_ALL_ACCOUNT
                  errorReason: Please try again after some time, If issue persist please contact customer support
            5210-MIE_ENROLLMENT:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 500
                referenceTransactionID: 000b9123-3682-1490-c7e6-36c293801562
                transactionStatusDescription: General Error
                errorDetails: 
                  errorCode: 5210
                  errorField: MIE_ENROLLMENT
                  errorReason: Please try again after some time, If issue persist please contact customer support
            5230-MIE_CLOSE:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 500
                referenceTransactionID: 0a54b13d-00e1-b849-d645-8bb966a876c1
                transactionStatusDescription: General Error
                errorDetails: 
                  errorCode: 5230
                  errorField: MIE_CLOSE
                  errorReason: Please try again after some time, If issue persist please contact customer support
            5340-PartnerID:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 500
                referenceTransactionID: b95a1880-0bd8-3818-c374-1208a84ab5c2
                transactionStatusDescription: General Error
                errorDetails: 
                  errorCode: 5340
                  errorField: PartnerID
                  errorReason: Configuration Error, Please contact customer support
            5340-SubscriberId:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 500
                referenceTransactionID: 07c1560a-a112-6467-0a58-131dc3b93b6b
                transactionStatusDescription: General Error
                errorDetails: 
                  errorCode: 5340
                  errorField: SubscriberId
                  errorReason: Configuration Error, Please contact customer support
            5340-AES:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 500
                referenceTransactionID: 00edc4b0-38e6-455b-d699-6967bb3d7343
                transactionStatusDescription: General Error
                errorDetails: 
                  errorCode: 5340
                  errorField: AES
                  errorReason: Configuration Error, Please contact customer support
            5340-PublicKeyExpired:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 500
                referenceTransactionID: 13bd93c8-4c50-76e9-4cc9-30d82212960e
                transactionStatusDescription: General Error
                errorDetails: 
                  errorCode: 5340
                  errorField: PublicKey Expired
                  errorReason: Configuration Error, Please contact customer support
    # This is the start of Get Data
    200-GetDataResponsePayloadSamples:
      description: Success
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CPAPIGenericResponse'
          examples:
            ResponsePayloadSample-Approved:
              value:
                transactionStatus: APPROVED
                transactionStatusCode: 0
                referenceTransactionID: 29f0e47c-7e36-0ce7-64d0-7f38940f4982
                transactionStatusDescription: OK
                customer:
                  fdCustomerID: CPX8lY16074639744570000921EKCfWM
                account:
                  - fdAccountID: CPX8lY1607463998985721BKCeBf
                    type: ACH
                    accountStatus: 10
                    accountStatusDesc: ACTIVE
                    accountValidationDetails:
                      - validationCode: 10
                        validationCodeDesc: Bank Validation Status
                        validationCodeStatus: COMPLETE
                      - validationCode: 50
                        validationCodeDesc: Pin Update Status
                        validationCodeStatus: COMPLETE
                    userDetails:
                      firstName: John
                      lastName: Smith
                      email: john123@fiserv.com
                      gender: M
                      dob: 19871115
                      memberSince: 20150226
                      agreedTncVersion: v1
                    userAddressDetails:
                      street: 112 Freeway
                      street2: Apt 100
                      state: TX
                      city: Houston
                      country: 840
                      postalCode: 77089
                    userIdentificationDetails:
                      routingNumber: "311080311"
                      accountNumber: "6751902256"
                      corporateAccountFlag: personal_check
                      bankName: SUN CU
                      driverLicenseNumber: "89221267"
                      driverLicenseState: TX
                      ssn: "788816256"
                      connectPayPaymentNumber: "1639635610000000631"
                    userPhone:
                      - type: MOBILE
                        number: 9876543212
                        primary: Y
                      - type: HOME
                        number: 1234567890
                        primary: N
                      - type: BUSINESS
                        number: 2134567890
                        primary: N
                      - type: OTHERS
                        number: 312456789
                        primary: N
                    sqnA:
                      - securityQuestionId: 1234
                        securityQuestion: What is the name of your pet dog ?
                    reportingFields:
                      - reportingField1: 123
                        reportingField2: 1234
                        reportingField3: 12345
                    genericCodes:
                      - genericCode1: 12345678
                        genericCode2: 23456789
                        genericCode3: 34567890
                    genericFlags:
                      - genericFlag1: Y
                        genericFlag2: N
                        genericFlag3: N
    201-CPAPI_GET_DATA:
      description: | 
        The request was successfully fulfilled and resulted in one or multiple new resources being created
    202-CPAPI_GET_DATA:
      description: | 
        The request has been accepted for processing, but the processing has not been finished yet
    204-CPAPI_GET_DATA:
      description: | 
        The request has succeeded, but the client doesn't need to navigate away from its current page
    400-CPAPI_GET_DATA:
      description: | 
        Bad request
      content: 
        application/json: 
          schema: 
            $ref: '#components/schemas/CPAPIGenericResponse'
          examples: 
            1010-Masked:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: 5510cee3-56d6-1d52-10a2-391bb5a4a072
                transactionStatusDescription: Input is invalid 
                errorDetails: 
                  errorCode: 1010
                  errorField: Masked
                  errorReason: Field did not have a valid format
            1010-Fetch:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: b2dd069e-58ac-7158-5356-3626056eea14
                transactionStatusDescription: Input is invalid 
                errorDetails: 
                  errorCode: 1010
                  errorField: Fetch
                  errorReason: Field did not have a valid format
            1010-type:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: a9996595-ab1c-4041-d9a7-59b724536c4e
                transactionStatusDescription: Input is invalid 
                errorDetails: 
                  errorCode: 1010
                  errorField: type
                  errorReason: Field did not have a valid format
            1010-fdCustomerID:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: baed45e9-184b-8a40-8bda-ca0a378e2c8b
                transactionStatusDescription: Input is invalid 
                errorDetails: 
                  errorCode: 1010
                  errorField: fdCustomerID
                  errorReason: Field did not have a valid format
            1020-type:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: 039941e4-a1dc-8aa6-e152-cd8c8e361d44
                transactionStatusDescription: Input is invalid 
                errorDetails: 
                  errorCode: 1020
                  errorField: type
                  errorReason: Field contained a bad value
            1020-fdCustomerID:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: 0cd7a570-4444-12d6-e515-94a3ccd45a88
                transactionStatusDescription: Input is invalid 
                errorDetails: 
                  errorCode: 1020
                  errorField: fdCustomerID
                  errorReason: Field contained a bad value
            1030-Masked:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: d9791268-2dce-a987-cd2c-23b3d5b0beb3
                transactionStatusDescription: Input is invalid 
                errorDetails: 
                  errorCode: 1030
                  errorField: Masked
                  errorReason: Required field did not have a value
            1030-Fetch:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: d7dca972-71b3-28bc-18b6-d442281cd99d
                transactionStatusDescription: Input is invalid 
                errorDetails: 
                  errorCode: 1030
                  errorField: Fetch
                  errorReason: Required field did not have a value
            1030-fdAccountID:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: 10ec7dba-022d-082a-a7db-65972c0c2895
                transactionStatusDescription: Input is invalid 
                errorDetails: 
                  errorCode: 1030
                  errorField: fdAccountID
                  errorReason: Required field did not have a value
            1030-type:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: 568d8194-b6d4-e217-06ba-9c67bb8c779a
                transactionStatusDescription: Input is invalid 
                errorDetails: 
                  errorCode: 1030
                  errorField: type
                  errorReason: Required field did not have a value
            1030-fdCustomerID:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: 7cba959d-1852-1803-aa4e-e7aeca187588
                transactionStatusDescription: Input is invalid 
                errorDetails: 
                  errorCode: 1030
                  errorField: fdCustomerID
                  errorReason: Required field did not have a value
            1035-type:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: 7d123555-319c-625c-7c4d-990441d93874
                transactionStatusDescription: Input is invalid 
                errorDetails: 
                  errorCode: 1035
                  errorField: type
                  errorReason: Required field is missing
            1035-fdCustomerID:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: 26bc90c6-8534-1454-8382-a815a0627b15
                transactionStatusDescription: Input is invalid 
                errorDetails: 
                  errorCode: 1035
                  errorField: fdCustomerID
                  errorReason: Required field is missing
            1040-account:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: 2c121246-5a11-12c7-6d88-b3bce1c2eab0
                transactionStatusDescription: Input is invalid 
                errorDetails: 
                  errorCode: 1040
                  errorField: account
                  errorReason: Required block did not have a value
            1040-customer:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: b0dbe032-c492-5e1c-2ac8-482ac91abc17
                transactionStatusDescription: Input is invalid 
                errorDetails: 
                  errorCode: 1040
                  errorField: customer
                  errorReason: Required block did not have a value
            1045-CPAPIAccount:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: a959e482-a18b-7498-20ea-6b059eba403e
                transactionStatusDescription: Input is invalid
                errorDetails: 
                  errorCode: 1045
                  errorField: CPAPIAccount
                  errorReason: Required block is missing
            1045-account:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: 2eac9126-ed4c-047a-d3ae-2364900c1b74
                transactionStatusDescription: Input is invalid 
                errorDetails: 
                  errorCode: 1045
                  errorField: account
                  errorReason: Required block is missing
            1045-customer:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: 126b3a66-ec08-03dc-d343-9e825752cc6a
                transactionStatusDescription: Input is invalid 
                errorDetails: 
                  errorCode: 1045
                  errorField: customer
                  errorReason: Required block is missing
            1045-FetchAccountDetails:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: 808e9305-51eb-07ba-1cac-7229371d02ca
                transactionStatusDescription: Input is invalid
                errorDetails: 
                  errorCode: 1045
                  errorField: FetchAccountDetails
                  errorReason: Required block is missing
            1060-SubscriberId:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: 8be47774-2805-a0c4-9cc5-68e11a610aa7
                transactionStatusDescription: Input is invalid 
                errorDetails: 
                  errorCode: 1060
                  errorField: SubscriberId
                  errorReason: Required Header Field is missing
            1060-PartnerID:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: c8a292a6-b185-a9e4-d727-6de02222adab
                transactionStatusDescription: Input is invalid 
                errorDetails: 
                  errorCode: 1060
                  errorField: PartnerID
                  errorReason: Required Header Field is missing
            1060-Client-Token:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: 66408d3d-3316-2286-6086-82d0b4d73894
                transactionStatusDescription: Input is invalid 
                errorDetails: 
                  errorCode: 1060
                  errorField: Client-Token
                  errorReason: Required Header Field is missing
            1070-NONCE:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: 4c77257b-b6c8-d5da-1741-cb4037ed4804
                transactionStatusDescription: Input is invalid
                errorDetails: 
                  errorCode: 1070
                  errorField: NONCE
                  errorReason: The·URI Param is Missing or Invalid
            1080-account:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 100
                referenceTransactionID: 19638396-b61c-643b-6d67-079e26a9a7aa
                transactionStatusDescription: Input is invalid 
                errorDetails: 
                  errorCode: 1080
                  errorField: account
                  errorReason: Block contain values more than that is allowed
            2020-ConnectPayPaymentNumber:
              value: 
                transactionStatus: DECLINED
                transactionStatusCode: 120
                referenceTransactionID: 4596351d-4db2-3057-2637-4ce47372a316
                transactionStatusDescription: Consumer Cannot Be Validated
                errorDetails: 
                  errorCode: 2020
                  errorField: ConnectPayPaymentNumber
                  errorReason: Original ConnectPayPaymentNumber is not Active
            2220-fdCustomerID:
              value: 
                transactionStatus: ERROR
                transactionStatusCode: 140
                referenceTransactionID: 6abbecbc-6ae6-7264-0731-88bda072add2
                transactionStatusDescription: Customer profile not found
                errorDetails: 
                  errorCode: 2220
[...]
